@using AzureSkyMedia.PlatformServices;
@using AzureSkyMedia.WebApp;

@{
    string accountMessage = ViewData["accountMessage"] as string;
    int streamNumber = int.Parse(ViewData["streamNumber"].ToString());
    MediaStream[] mediaStreams = ViewData["mediaStreams"] as MediaStream[];
    string authToken = ViewData["authToken"] as string;
    string autoPlay = ViewData["autoPlay"] as string;
}

@section head {
    <link type="text/css" rel="stylesheet" href="//amp.azure.net/libs/amp/@ViewData["mediaPlayerVersion"]/skins/amp-default/azuremediaplayer.min.css" />
    <script type="text/javascript" src="//amp.azure.net/libs/amp/@ViewData["mediaPlayerVersion"]/azuremediaplayer.min.js"></script>
    <script type="text/javascript">
        function SetPlayerContent(currentStream, autoPlay) {
            var mediaPlayer = GetMediaPlayer(false);
            mediaPlayer.autoplay(autoPlay);
            mediaPlayer.src(
                [{
                    src: currentStream.sourceUrl,
                    type: GetSourceType(currentStream.sourceUrl),
                    protectionInfo: GetProtectionInfo(currentStream.protectionTypes, "@authToken")
                }],
                currentStream.textTracks
            );
            var languageCode = "@ViewData["languageCode"]".toLowerCase();
            if (languageCode != "") {
                for (var i = 0; i < mediaPlayer.textTracks_.length; i++) {
                    if (mediaPlayer.textTracks_.tracks_[i].language.toLowerCase() == languageCode) {
                        mediaPlayer.textTracks_.tracks_[i].mode = "showing";
                    }
                }
            }
        }
        function SetStreamNumber(mediaStreams, streamNumber) {
            var sliderHandle = document.getElementsByClassName("ui-slider-handle")[0];
            if (streamNumber == 1 || streamNumber == mediaStreams.length) {
                sliderHandle.innerText = "";
            } else {
                sliderHandle.innerText = streamNumber;
            }
        }
        function SetStreamName(currentStream) {
            var streamName = currentStream.name.replace("<br /><br />", " ");
            if (currentStream.protectionTypes.length > 0) {
                streamName = streamName + " + " + currentStream.protectionTypes.join(" + ");
            }
            $("#streamName").html(streamName);
        }
        function GetMediaStreams() {
            var mediaStreams = @Html.Raw(Json.Serialize(ViewData["mediaStreams"]));
            for (var i = 0; i < mediaStreams.length; i++) {
                for (var t = 0; t < mediaStreams[i].textTracks.length; t++) {
                    var languageCode = mediaStreams[i].textTracks[t].srclang;
                    mediaStreams[i].textTracks[t].label = GetLanguageLabel(languageCode);
                }
            }
            return mediaStreams;
        }
        function GetAnalyticsProcessor(fileName) {
            var fileNameInfo = fileName.split("@Constants.NamedItemsSeparator");
            var analyticsProcessor = fileNameInfo[1].replace("@Constants.NamedItemSeparator", " ");
            return analyticsProcessor.replace("@Constants.Media.AssetFile.JsonExtension", "");
        }
        function SetAnalyticsProcessors(currentStream) {
            var processors = document.getElementById("analyticsProcessors");
            processors.options.length = 0;
            processors.options[processors.options.length]= new Option("", "");
            for (var i = 0; i < currentStream.analyticsProcessors.length; i++) {
                var processor = currentStream.analyticsProcessors[i];
                var optionName = processor.processorName;
                var optionValue = processor.metadataFile;
                processors.options[processors.options.length]= new Option(optionName, optionValue);
            }
            $("#mediaMetadata").empty();
        }
        function GetFragmentEvent(timeSeconds, timescale, fragment) {
            var ticksPerMillisecond = timescale / 1000;
            var millisecondsPerInterval = fragment.interval / ticksPerMillisecond;        
            var millisecondsOffset = (timeSeconds - (fragment.start / timescale)) * 1000;
            var eventIndex = Math.floor(millisecondsOffset / millisecondsPerInterval);
            return fragment["events"][eventIndex];
        }
        function GetFaceEmotion(faceScores) {
            var faceScore = 0, faceEmotion;
            if (faceScores != null) {
                var keys = Object.keys(faceScores);
                for (var i = 0; i < keys.length; i++) {
                    var key = keys[i];
                    if (faceScores[key] > faceScore) {
                        faceScore = faceScores[key];
                        faceEmotion = key[0].toUpperCase() + key.slice(1);
                    }
                }
            }
            return faceEmotion;
        }
        function GetFacesMetadata(playerHeight, playerWidth, timeSeconds, result) {
            var facesMetadata = new Array();
            var fragment = result.fragment
            if (fragment.events != null) {
                var frameHeight = result.height;
                var frameWidth = result.width;
                var scaleHeight = playerHeight / frameHeight;
                var scaleWidth = playerWidth / frameWidth;
                var fragmentEvent = GetFragmentEvent(timeSeconds, result.timescale, fragment);
                for (var i = 0; i < fragmentEvent.length; i++) {
                    var faceMetadata = {};
                    faceMetadata.id = fragmentEvent[i].id;
                    faceMetadata.x = fragmentEvent[i].x * frameWidth;
                    faceMetadata.x = faceMetadata.x * scaleWidth;
                    faceMetadata.y = fragmentEvent[i].y * frameHeight;
                    faceMetadata.y = faceMetadata.y * scaleHeight;
                    faceMetadata.height = fragmentEvent[i].height * frameHeight;
                    faceMetadata.height = faceMetadata.height * scaleHeight;
                    faceMetadata.width = fragmentEvent[i].width * frameWidth;
                    faceMetadata.width = faceMetadata.width * scaleWidth;
                    faceMetadata.emotion = GetFaceEmotion(fragmentEvent[i]["scores"]);
                    facesMetadata.push(faceMetadata);
                }
            }
            return facesMetadata;
        }
        function SetMediaMetadata() {
            var analyticsProcessor;
            var mediaPlayer = GetMediaPlayer(false);
            var fileName = $("#analyticsProcessors").val();
            if (fileName != null && fileName != "") {
                analyticsProcessor = GetAnalyticsProcessor(fileName);
                var playerHeight = mediaPlayer.height();
                var playerWidth = mediaPlayer.width();
                var timeSeconds = mediaPlayer.currentTime();
                $.post("/analytics/metadata",
                    {
                        fileName: fileName,
                        timeSeconds: timeSeconds
                    },
                    function (result) {
                        var jsonOptions = {
                            collapsed: false,
                            withQuotes: false
                        };
                        switch (analyticsProcessor) {
                            case "Face Detection":
                                $("#mediaMetadata").jsonBrowse(result, jsonOptions);
                                var facesMetadata = GetFacesMetadata(playerHeight, playerWidth, timeSeconds, result);
                                for (var i = 0; i < facesMetadata.length; i++) {
                                    var faceMetadata = facesMetadata[i];
                                    SetVideoOverlay(faceMetadata);
                                }
                                break;
                            case "Emotion Detection":
                                var fragmentEvent = GetFragmentEvent(timeSeconds, result.timescale, result.fragment);
                                $("#mediaMetadata").jsonBrowse(fragmentEvent, jsonOptions);
                                break;
                        }
                    }
                );
            }
            return analyticsProcessor;
        }
        function SetVideoOverlay(faceMetadata) {
            $("<div id='videoOverlay" + faceMetadata.id + "' class='mediaOverlay'></div>").insertBefore("#mediaPlayer");
            var playerPosition = $("#mediaPlayer").position();
            $("#videoOverlay" + faceMetadata.id).css({
                top: (playerPosition.top + faceMetadata.y) + "px",
                left: (playerPosition.left + faceMetadata.x) + "px",
                height: faceMetadata.height + "px",
                width: faceMetadata.width + "px"
            });
            $("#videoOverlay" + faceMetadata.id).show();
            var faceLabel = "Face " + faceMetadata.id;
            if (faceMetadata.emotion != null) {
                faceLabel = faceLabel + "<br /><br />(" + faceMetadata.emotion + ")";
            }
            CreateTipTop("videoOverlay" + faceMetadata.id, faceLabel, 0, -10, false);
            SetTipVisible("videoOverlay" + faceMetadata.id, true);
        }
        function ClearVideoOverlay() {
            var videoOverlays = $("div[id^='videoOverlay']");
            for (var i = 0; i < videoOverlays.length; i++) {
                var videoOverlay = videoOverlays[i];
                SetTipVisible(videoOverlay.id, false);
                $("#" + videoOverlay.id).remove();
            }
        }
        function ResetMediaMetadata() {
            ClearVideoOverlay();
            SetMediaMetadata(); 
        }
        $(function () {
            var accountMessage = "@accountMessage";
            var streamNumber = @streamNumber;
            var mediaStreams = GetMediaStreams();
            var currentStream = (mediaStreams.length == 0) ? null : mediaStreams[streamNumber - 1];
            var sliderWidth = $("#streamCatcher").width();
            var sliderStep = (mediaStreams.length < 2) ? sliderWidth : Math.floor(sliderWidth / (mediaStreams.length - 1));
            var sliderValue = (streamNumber - 1) * sliderStep;
            $("#streamCatcher").slider({
                min: 0,
                max: sliderWidth,
                step: sliderStep,
                value: sliderValue,
                classes: {
                    "ui-slider-handle": "streamCatcherHandle"
                },
                slide: function (event, ui) {
                    if (mediaStreams.length > 0) {
                        var streamNumber = (mediaStreams.length == 1) ? 1 : (ui.value / sliderStep) + 1;
                        var currentStream = mediaStreams[streamNumber - 1];
                        var streamName = currentStream.name;
                        var protectionTypes = currentStream.protectionTypes;
                        if (protectionTypes.length > 0) {
                            streamName = streamName + "<br /><br />" + protectionTypes.join(", ");
                        }
                        CreateTipTopLeft("streamCatcher", streamName, ui.value + 2, -10);
                        SetTipVisible("streamCatcher", true);
                        SetStreamNumber(mediaStreams, streamNumber);
                    }
                },
                stop: function (event, ui) {
                    if (mediaStreams.length > 0) {
                        var streamNumber = (mediaStreams.length == 1) ? 1 : (ui.value / sliderStep) + 1;
                        var currentStream = mediaStreams[streamNumber - 1];
                        SetAnalyticsProcessors(currentStream);
                        SetPlayerContent(currentStream, true);
                        SetStreamName(currentStream);
                        $("#streamUrl").html("");
                    }
                }
            });
            var mediaPlayer = GetMediaPlayer(false);
            mediaPlayer.addEventListener(amp.eventName.play, function () {
                var streamUrl = mediaPlayer.currentSrc();
                streamUrl = streamUrl.replace("https:", "");
                streamUrl = streamUrl.replace("http:", "");
                streamUrl = streamUrl.split("/");
                for (var i = streamUrl.length - 2; i > streamUrl.length - 5; i--) {
                    streamUrl[i] = streamUrl[i] + "<br />";
                }
                streamUrl = streamUrl.join("/");
                $("#streamUrl").html(streamUrl);
                ClearVideoOverlay();
            });
            mediaPlayer.addEventListener(amp.eventName.pause, function () {
                if ($("#analyticsPanel").is(":visible")) {
                    SetMediaMetadata();
                }
            });
            window.onresize = ResetMediaMetadata;
            window.onorientationchange = ResetMediaMetadata;
            if (currentStream == null) {
                SetPlayerSpinner(false);
            } else {
                SetPlayerContent(currentStream, @autoPlay);
                SetAnalyticsProcessors(currentStream);
                SetStreamNumber(mediaStreams, streamNumber);
                SetStreamName(currentStream);
            }
            if (accountMessage != "") {
                DisplayMessage("Account Message", accountMessage);
            }
        })
    </script>
}

@section title {
    Azure Sky Media
}

<table class="mediaPanel">
    <tr>
        <td>
            @Html.Partial("MediaPlayer")
        </td>
        <td id="analyticsPanel" class="analyticsPanel">
            <table>
                <tr>
                    <td class="inputLabel">
                        <span class="siteLink" onclick="window.open('http://docs.microsoft.com/en-us/azure/media-services/media-services-analytics-overview')">
                            Azure Media Analytics
                        </span>
                    </td>
                    <td>
                        <select id="analyticsProcessors" class="analyticsProcessors" onchange="SetMediaMetadata()"></select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div id="mediaMetadata" class="mediaMetadata"></div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

@Html.Partial("MediaBar", mediaStreams)

@section foot {
    <div class="streamInfo">
        <div id="streamName" class="streamName"></div>
        <div id="streamUrl" class="streamUrl"></div>
    </div>
}
