@using AzureSkyMedia.PlatformServices;
@using AzureSkyMedia.WebApp.Models;

@{
    string userId = ViewData["userId"] as string;
    string authToken = ViewData["authToken"] as string;

    string accountName = ViewData["accountName"] as string;
    string accountMessage = ViewData["accountMessage"] as string;

    MediaStream[] mediaStreams = ViewData["mediaStreams"] as MediaStream[];
    int streamNumber = (int)ViewData["streamNumber"];

    int tunerPageSize = (int)ViewData["tunerPageSize"];
    int streamSkipCount = (int)ViewData["streamSkipCount"];
    bool streamLastPage = (bool)ViewData["streamLastPage"];

    string ampVersion = ViewData["mediaPlayerVersion"] as string;
    string ampSkin = ViewData["mediaPlayerSkin"] as string;

    string storageCdnUrl = ViewData["storageCdnUrl"] as string;
}

@section head {
    <link type="text/css" rel="stylesheet" href="//amp.azure.net/libs/amp/@ampVersion/skins/@ampSkin/azuremediaplayer.min.css" />
    <script type="text/javascript" src="//amp.azure.net/libs/amp/@ampVersion/azuremediaplayer.min.js"></script>
    <script type="text/javascript" src="https://breakdown.blob.core.windows.net/public/amp-vb.plugin.js"></script>
    <script type="text/javascript" src="~/js/amp/amp-appInsights.min.js"></script>
    <script type="text/javascript" src="~/js/insight.js"></script>
    <script type="text/javascript" src="~/js/home.js"></script>
    <script type="text/javascript">
        var _mediaPlayer, _tunerPageSize = @tunerPageSize, _streamLastPage = @streamLastPage.ToString().ToLower();
        $(function () {
            var accountMessage = "@accountMessage";
            _authToken = "@authToken";
            _mediaStreams = @Json.Serialize(ViewData["mediaStreams"]);
            _streamNumber = @streamNumber;
            _mediaPlayer = GetMediaPlayer("@userId", "@accountName");
            _mediaPlayer.ready(function () {
                this.videobreakdown({
                    syncTranscript: true,
                    syncLanguage: true
                });
            });
            _mediaPlayer.addEventListener(amp.eventName.loadeddata, function () {
                $("#mediaStreamLeft").prop("disabled", false);
                $("#mediaStreamRight").prop("disabled", false);
                $("#streamTuner").slider("option", "disabled", false);
            });
            _mediaPlayer.addEventListener(amp.eventName.play, function () {
                var streamUrl = _mediaPlayer.currentSrc();
                streamUrl = streamUrl.split("/");
                for (var i = streamUrl.length - 2; i > streamUrl.length - 5; i--) {
                    streamUrl[i] = streamUrl[i] + "<br>";
                }
                var manifestIndex = streamUrl.length - 1;
                streamUrl[manifestIndex] = streamUrl[manifestIndex].replace(",", "<br>,");
                streamUrl = streamUrl.join("/");
                $("#streamUrl").html(streamUrl);
            });
            if (_mediaStreams.length == 0) {
                SetPlayerSpinner(false);
            } else {
                SetMediaStream(false, false);
            }
            if (accountMessage != "") {
                DisplayMessage("Account Message", accountMessage);
            }
        })
    </script>
}

@section title {
    Azure Sky Media
}

<partial name="MediaPlayer" />

@*<div id="indexerInsight" class="indexerInsight">
    <iframe id="indexerFrame" height="100%" width="100%" frameborder="0"></iframe>
</div>*@

<partial name="MediaWorkflow" model='new StreamTuner { StreamCount = mediaStreams.Length, StreamSkipCount = streamSkipCount }' />

<div class="streamInfo">
    <div id="streamName" class="streamInfoName"></div>
    <div id="streamUrl" class="streamInfoUrl"></div>
</div>

<div class="mediaServicesCompliance">
    <partial name="SiteButton" model='new SiteButton { ClientId = "mediaServicesCompliance", ImageFile = "MediaServicesCompliance.png", AbsoluteUrl = "http://www.microsoft.com/en-us/trustcenter/compliance/cdsa" }' />
</div>