@using AzureSkyMedia.WebApp.Models;
@using AzureSkyMedia.PlatformServices;

@{
    MediaStream[] mediaStreams = (MediaStream[])ViewData["mediaStreams"];
    int streamNumber = (int)ViewData["streamNumber"];

    int streamSkipCount = (int)ViewData["streamSkipCount"];
    int streamTunerPageSize = (int)ViewData["streamTunerPageSize"];
    bool streamTunerLastPage = (bool)ViewData["streamTunerLastPage"];

    string ampVersion = ViewData["mediaPlayerVersion"].ToString();
    string ampSkin = ViewData["mediaPlayerSkin"].ToString();

    string storageCdnUrl = ViewData["storageCdnUrl"].ToString();

    string userId = ViewData["userId"] as string;
    string userMessage = ViewData["userMessage"] as string;

    string authToken = ViewData["authToken"] as string;
    string accountName = ViewData["accountName"] as string;
}

@section head {
    <link type="text/css" rel="stylesheet" href="//amp.azure.net/libs/amp/@ampVersion/skins/@ampSkin/azuremediaplayer.min.css" />
    <link type="text/css" rel="stylesheet" href="~/css/diagnostic.css" />
    <script type="text/javascript" src="//amp.azure.net/libs/amp/@ampVersion/azuremediaplayer.min.js"></script>
    <script type="text/javascript" src="https://breakdown.blob.core.windows.net/public/amp-vb.plugin.js"></script>
    <script type="text/javascript" src="~/js/amp/amp-appInsights.min.js"></script>
    <script type="text/javascript" src="~/js/amp/amp-diagnostic.js"></script>
    <script type="text/javascript" src="~/js/home.js"></script>
    <script type="text/javascript">
        var _streamTunerPageSize = @streamTunerPageSize;
        var _streamTunerLastPage = @streamTunerLastPage.ToString().ToLower();
        $(function () {
            _mediaPlayer = GetMediaPlayer("videoPlayer", "@userId", "@accountName", false, false);
            _mediaStreams = @Json.Serialize(ViewData["mediaStreams"]);
            _streamNumber = @streamNumber;
            CreateStreamTuner();
            SetPlayerEvents(_mediaPlayer, "@storageCdnUrl", false, true);
            SetMediaStream(false, false);
            if ("@userMessage" != "") {
                DisplayMessage("User Message", "@userMessage");
            }
        })
    </script>
}

@section title {
    Azure Sky Media
}

<table>
    <tr>
        <td>
            <partial name="MediaPlayer" model='new MediaPlayer { ContainerStyle = "mediaPlayer", ControlId = "videoPlayer", PlayerSkin = ampSkin }' />
        </td>
        <td>
            <iframe id="indexerInsight" class="indexerInsight"></iframe>
        </td>
    </tr>
</table>

<partial name="MediaModules" model='new StreamTuner { StreamSkipCount = streamSkipCount, StreamCount = mediaStreams.Length, StreamLastPage = streamTunerLastPage }' />

<div id="streamName" class="streamName"></div>
<div id="streamUrl" class="streamUrl"></div>

<div class="mediaServicesCompliance">
    <partial name="SiteButton" model='new SiteButton { ControlId = "mediaServicesCompliance", ImageFile = "MediaServicesCompliance.png", AbsoluteUrl = "http://www.microsoft.com/trustcenter/compliance/cdsa" }' />
</div>