<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        <title>Azure Sky Media (@ViewData["appRegionName"])</title>
        <link type="text/css" rel="stylesheet" href="~/lib/jquery-ui/themes/dot-luv/jquery-ui.min.css" />
        <link type="text/css" rel="stylesheet" href="~/lib/jquery-ui-multiselect/jquery.multiselect.css" />
        <link type="text/css" rel="stylesheet" href="~/lib/jquery-editable-select/dist/jquery-editable-select.min.css" />
        <link type="text/css" rel="stylesheet" href="~/lib/jquery-json-browse/jquery.json-browse.css" />
        <link type="text/css" rel="stylesheet" href="~/lib/jqgrid/css/ui.jqgrid.css" />
        <link type="text/css" rel="stylesheet" href="~/lib/qtip/jquery.qtip.min.css" />
        <link type="text/css" rel="stylesheet" href="~/css/site.css" />
        @Html.Raw(javaScriptSnippet.FullScript)
        <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="~/lib/jquery-ui/jquery-ui.min.js"></script>
        <script type="text/javascript" src="~/lib/jquery-ui-multiselect/src/jquery.multiselect.min.js"></script>
        <script type="text/javascript" src="~/lib/jquery-editable-select/dist/jquery-editable-select.min.js"></script>
        <script type="text/javascript" src="~/lib/jquery-json-browse/jquery.json-browse.js"></script>
        <script type="text/javascript" src="~/lib/jquery.scrollTo/jquery.scrollTo.min.js"></script>
        <script type="text/javascript" src="~/lib/jquery-cookie/jquery.cookie.js"></script>
        <script type="text/javascript" src="~/lib/jqgrid/js/jquery.jqGrid.min.js"></script>
        <script type="text/javascript" src="~/lib/qtip/jquery.qtip.min.js"></script>
        <script type="text/javascript" src="~/js/grid.js"></script>
        <script type="text/javascript" src="~/js/qtip.js"></script>
        <script type="text/javascript" src="~/js/site.js"></script>
        @RenderSection("head", false)
    </head>
    <body onload="@ViewData["onLoad"]">
        <table class="header">
            <tr>
                <td class="headerSide">
                    @Html.Partial("SiteButton", new string[] { "siteHome", "SiteHome.png", "window.location.href = '/'" })
                    @Html.Partial("SiteButton", new string[] { "siteCode", "SiteCode.png", "window.open('http://github.com/RickShahid/SkyMedia/')" })
                    @Html.Partial("SiteButton", new string[] { "mediaBlog", "MediaBlog.png", "window.open('http://azure.microsoft.com/blog/topics/media-services/')" })
                </td>
                <td>
                    <div class="viewTitle">
                        @RenderSection("title", true)
                    </div>
                </td>
                <td class="headerSide right">
                    @Html.Partial("SiteButton", new string[] { "botService", "BotService.png", "window.open('http://azure.microsoft.com/services/bot-service/')" })
                    @if (ViewData.ContainsKey("accountName"))
                    {
                        @Html.Partial("SiteButton", new string[] { "userProfileEdit", "UserProfileEdit.png", "window.location.href = '" + ViewData["accountProfileEdit"] + "'" })
                        @Html.Partial("SiteButton", new string[] { "userSignOut", "UserSignOut.png", "SignOut('" + ViewData["authTokenCookie"] + "')" })
                    }
                    else
                    {
                        @Html.Partial("SiteButton", new string[] { "userDirectory", "UserDirectory.png", "window.open('" + ViewData["userDirectoryUrl"] + "')" })
                        @Html.Partial("SiteButton", new string[] { "userSignIn", "UserSignIn.png", "window.location.href = '" + ViewData["accountSignUpIn"] + "'" })
                    }
                </td>
            </tr>
        </table>
        <table class="layout">
        @if (ViewData.ContainsKey("accountName"))
        {
            <tr>
                <td colspan="3">
                    <div id="accountContext" class="accountContext">
                        @ViewData["userId"] (<a id="mediaAccount" href="/account">@ViewData["accountName"]</a>)
                    </div>
                </td>
            </tr>
        }
        <tr>
            <td class="layoutPanel side">
                <div>
                    @Html.Partial("SiteButton", new string[] { "amsPlatform", "MediaServices.png", "window.open('http://azure.microsoft.com/services/media-services/')", "layoutVertical" })
                </div>
                <div>
                    @Html.Partial("SiteButton", new string[] { "amsPlayer", "MediaPlayer.png", "window.open('http://azure.microsoft.com/services/media-services/media-player/')", "layoutVertical" })
                </div>
                <div>
                    @Html.Partial("SiteButton", new string[] { "mediaStreaming", "MediaStreaming.png", "window.open('http://azure.microsoft.com/services/media-services/live-on-demand/')", "layoutVertical" })
                </div>
                <div>
                    @Html.Partial("SiteButton", new string[] { "mediaEncoding", "MediaEncoding.png", "window.open('http://azure.microsoft.com/services/media-services/encoding/')", "layoutVertical" })
                </div>
                <div>
                    @Html.Partial("SiteButton", new string[] { "mediaProtection", "MediaProtection.png", "window.open('http://azure.microsoft.com/services/media-services/content-protection/')", "layoutVertical" })
                </div>
                <div>
                    @Html.Partial("SiteButton", new string[] { "mediaInsight", "MediaInsight.png", "window.open('http://azure.microsoft.com/services/cognitive-services/video-indexer/')", "layoutVertical" })
                </div>
            </td>
            <td class="layoutPanel">
                @RenderBody()
            </td>
            <td class="layoutPanel side">
                <div>
                    @Html.Partial("SiteButton", new string[] { "mediaStorage", "MediaStorage.png", "window.open('http://azure.microsoft.com/en-us/services/storage/blob/')", "layoutVertical" })
                </div>
                <div>
                    @Html.Partial("SiteButton", new string[] { "cosmosDB", "CosmosDB.png", "window.open('http://azure.microsoft.com/services/cosmos-db/')", "layoutVertical" })
                </div>
                <div>
                    @Html.Partial("SiteButton", new string[] { "contentDeliveryNetwork", "ContentDeliveryNetwork.png", "window.open('http://azure.microsoft.com/services/cdn/')", "layoutVertical" })
                </div>
                <div>
                    @Html.Partial("SiteButton", new string[] { "appServiceWeb", "AppServiceWeb.png", "window.open('http://azure.microsoft.com/services/app-service/web/')", "layoutVertical" })
                </div>
                <div>
                    @Html.Partial("SiteButton", new string[] { "appServiceFunctions", "AppServiceFunctions.png", "window.open('http://azure.microsoft.com/services/functions/')", "layoutVertical" })
                </div>
                <div>
                    @Html.Partial("SiteButton", new string[] { "eventGrid", "EventGrid.png", "window.open('http://azure.microsoft.com/services/event-grid/')", "layoutVertical" })
                </div>
            </td>
        </tr>
        </table>
        <div id="messageDialog"></div>
    </body>
</html>