@using AzureSkyMedia.WebApp.Models;

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        <title>@ViewData["appTitle"]</title>
        <link type="text/css" rel="stylesheet" href="~/lib/jqueryui/jquery-ui.min.css" />
        <link type="text/css" rel="stylesheet" href="~/lib/jqueryui/themes/dot-luv/jquery-ui.min.css" />
        <link type="text/css" rel="stylesheet" href="~/lib/jsoneditor/jsoneditor.min.css" />
        <link type="text/css" rel="stylesheet" href="~/lib/jqgrid/css/ui.jqgrid.css" />
        <link type="text/css" rel="stylesheet" href="~/lib/qtip2/jquery.qtip.min.css" />
        <link type="text/css" rel="stylesheet" href="~/css/grid.css" />
        <link type="text/css" rel="stylesheet" href="~/css/site.css" />
        @Html.Raw(javaScriptSnippet.FullScript)
        <script type="text/javascript" src="~/lib/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="~/lib/jqueryui/jquery-ui.min.js"></script>
        <script type="text/javascript" src="~/lib/jquery-cookie/jquery.cookie.min.js"></script>
        <script type="text/javascript" src="~/lib/jsoneditor/jsoneditor.min.js"></script>
        <script type="text/javascript" src="~/lib/jqgrid/js/jquery.jqGrid.min.js"></script>
        <script type="text/javascript" src="~/lib/jqgrid/js/i18n/grid.locale-en.js"></script>
        <script type="text/javascript" src="~/lib/qtip2/jquery.qtip.min.js"></script>
        <script type="text/javascript" src="~/js/site.js"></script>
        <script type="text/javascript" src="~/js/player.js"></script>
        <script type="text/javascript" src="~/js/editor.js"></script>
        <script type="text/javascript" src="~/js/grid/grid.js"></script>
        <script type="text/javascript" src="~/js/grid/gridAction.js"></script>
        <script type="text/javascript" src="~/js/grid/gridColumn.js"></script>
        <script type="text/javascript">
            _spacingPatterns = @Json.Serialize(ViewData["spacingPatterns"]);
            _spacingInserts = @Json.Serialize(ViewData["spacingInserts"]);
            _storageCdnUrl = "@ViewData["storageCdnUrl"]";
        </script>
        @RenderSection("head", false)
    </head>
    <body onload="InitializeApp('@ViewData["appName"]')">
        <table class="header">
            <tr>
                <td class="headerSide">
                    <partial name="SiteButton" model='new SiteButton { ControlId = "siteHome", ImageFile = "SiteHome.png", RelativeUrl = "/" }' />
                    <partial name="SiteButton" model='new SiteButton { ControlId = "siteCode", ImageFile = "SiteCode.png", AbsoluteUrl = "http://github.com/RickShahid/SkyMedia/" }' />
                    <partial name="SiteButton" model='new SiteButton { ControlId = "mediaBlog", ImageFile = "MediaBlog.png", AbsoluteUrl = "http://azure.microsoft.com/blog/topics/media-services/" }' />
                </td>
                <td class="headerCenter">
                    <div class="viewTitle">
                        @RenderSection("title", true)
                    </div>
                </td>
                <td class="headerSide right">
                    @if (ViewData.ContainsKey("accountName"))
                    {
                        <partial name="SiteButton" model='new SiteButton { ControlId = "userEngagement", ImageFile = "UserEngagement.png", RelativeUrl = "/user" }' />
                        <partial name="SiteButton" model='new SiteButton { ControlId = "userProfileEdit", ImageFile = "UserProfileEdit.png", RelativeUrl = ViewData["accountProfileEdit"].ToString() }' />
                        <partial name="SiteButton" model='new SiteButton { ControlId = "userSignOut", ImageFile = "UserSignOut.png", OnClick = ViewData["accountSignOut"].ToString() }' />
                    }
                    else
                    {
                        <partial name="SiteButton" model='new SiteButton { ControlId = "userEngagement", ImageFile = "UserEngagement.png", AbsoluteUrl = "http://azure.microsoft.com/blog/player-analytics-azure-media-player-plugin/" }' />
                        <partial name="SiteButton" model='new SiteButton { ControlId = "userDirectory", ImageFile = "UserDirectory.png", AbsoluteUrl = "http://azure.microsoft.com/services/active-directory-b2c/" }' />
                        <partial name="SiteButton" model='new SiteButton { ControlId = "userSignIn", ImageFile = "UserSignIn.png", RelativeUrl = ViewData["accountSignUpIn"].ToString() }' />
                    }
                </td>
            </tr>
        </table>
        <table class="layout">
            @if (ViewData.ContainsKey("accountName"))
            {
                <tr>
                    <td colspan="3">
                        <div id="accountContext" class="accountContext">
                            @ViewData["userId"]
                            <a id="mediaAccount" class="siteLink" href="/account">(@ViewData["accountName"])</a>
                        </div>
                    </td>
                </tr>
            }
            <tr>
                <td class="layoutPanel side">
                    <div>
                        <partial name="SiteButton" model='new SiteButton { ControlId = "mediaServices", ImageFile = "MediaServices.png", AbsoluteUrl = "http://azure.microsoft.com/services/media-services/", StyleClass = "layoutVertical" }' />
                    </div>
                    <div>
                        <partial name="SiteButton" model='new SiteButton { ControlId = "mediaEncoding", ImageFile = "MediaEncoding.png", AbsoluteUrl = "http://azure.microsoft.com/services/media-services/encoding/", StyleClass = "layoutVertical" }' />
                    </div>
                    <div>
                        <partial name="SiteButton" model='new SiteButton { ControlId = "mediaProtection", ImageFile = "MediaProtection.png", AbsoluteUrl = "http://azure.microsoft.com/services/media-services/content-protection/", StyleClass = "layoutVertical" }' />
                    </div>
                    <div>
                        <partial name="SiteButton" model='new SiteButton { ControlId = "mediaStreaming", ImageFile = "MediaStreaming.png", AbsoluteUrl = "http://azure.microsoft.com/services/media-services/live-on-demand/", StyleClass = "layoutVertical" }' />
                    </div>
                    <div>
                        <partial name="SiteButton" model='new SiteButton { ControlId = "mediaServicesPlayer", ImageFile = "MediaPlayer.png", AbsoluteUrl = "http://azure.microsoft.com/services/media-services/media-player/", StyleClass = "layoutVertical" }' />
                    </div>
                    <div>
                        <partial name="SiteButton" model='new SiteButton { ControlId = "mediaIndexer", ImageFile = "MediaIndexer.png", AbsoluteUrl = "http://azure.microsoft.com/services/media-services/video-indexer/", StyleClass = "layoutVertical" }' />
                    </div>
                </td>
                <td class="layoutPanel body">
                    @RenderBody()
                </td>
                <td class="layoutPanel side">
                    <div>
                        <partial name="SiteButton" model='new SiteButton { ControlId = "cognitiveSearch", ImageFile = "CognitiveSearch.png", AbsoluteUrl = "http://docs.microsoft.com/azure/search/cognitive-search-concept-intro", StyleClass = "layoutVertical" }' />
                    </div>
                    <div>
                        <partial name="SiteButton" model='new SiteButton { ControlId = "contentDeliveryNetwork", ImageFile = "ContentDeliveryNetwork.png", AbsoluteUrl = "http://azure.microsoft.com/services/cdn/", StyleClass = "layoutVertical" }' />
                    </div>
                    <div>
                        <partial name="SiteButton" model='new SiteButton { ControlId = "logicApp", ImageFile = "LogicApp.png", AbsoluteUrl = "http://azure.microsoft.com/services/logic-apps/", StyleClass = "layoutVertical" }' />
                    </div>
                    <div>
                        <partial name="SiteButton" model='new SiteButton { ControlId = "functionApp", ImageFile = "FunctionApp.png", AbsoluteUrl = "http://azure.microsoft.com/services/functions/", StyleClass = "layoutVertical" }' />
                    </div>
                    <div>
                        <partial name="SiteButton" model='new SiteButton { ControlId = "cosmosDB", ImageFile = "CosmosDB.png", AbsoluteUrl = "http://azure.microsoft.com/services/cosmos-db/", StyleClass = "layoutVertical" }' />
                    </div>
                    <div>
                        <partial name="SiteButton" model='new SiteButton { ControlId = "mediaStorage", ImageFile = "MediaStorage.png", AbsoluteUrl = "http://azure.microsoft.com/services/storage/blobs/", StyleClass = "layoutVertical" }' />
                    </div>
                </td>
            </tr>
        </table>
        <div id="messageDialog"></div>
        <div id="metadataDialog">
            <div id="contentMetadata" class="contentMetadata"></div>
        </div>
    </body>
</html>