@using AzureSkyMedia.PlatformServices;

@{
    MediaStream[] mediaStreams = Model;
}

<table class="mediaBar">
    <tr>
        <td id="userButtonLeft1">
        @if (ViewData.ContainsKey("accountContext"))
        {
            @Html.Partial("SiteButton", new string[] { "mediaFileUpload", "MediaUpload.png", "window.location.href = '/upload'" })
        }
        </td>
        <td id="userButtonLeft2">
        @if (ViewData.ContainsKey("accountContext"))
        {
            @Html.Partial("SiteButton", new string[] { "mediaAssetWorkflow", "MediaWorkflow.png", "window.location.href = '/workflow'" })
        }
        </td>
        <td>
            <table>
                <tr>
                    <td class="streamNumber side">
                        <span>@(mediaStreams.Length == 0 ? 0 : 1)</span>
                    </td>
                    <td>
                        <div id="streamCatcher" class="streamCatcher"></div>
                    </td>
                    <td class="streamNumber side">
                        @mediaStreams.Length
                    </td>
                </tr>
            </table>
        </td>
        <td id="userButtonRight1">
        @if (ViewData.ContainsKey("accountContext"))
        {
            @Html.Partial("SiteButton", new string[] { "mediaAssetClipper", "MediaClipper.png", "DisplayVideoClipper(' " + ViewData["languageCode"] + "')" })
        }
        </td>
        <td id="userButtonRight2">
        @if (ViewData.ContainsKey("accountContext"))
        {
            @Html.Partial("SiteButton", new string[] { "mediaAssetAnalytics", "MediaAnalyticsOpen.png", "ToggleMediaAnalytics(this)" })
        }
        </td>
    </tr>
</table>
