@{
    int taskNumber = 1;
    string taskId = "mediaWorkflowTask" + taskNumber;
    string mediaProcessorId = "mediaProcessor" + taskNumber;
    string taskParentId = "taskParent" + taskNumber;
    string encoderConfigRowId = "encoderConfigRow" + taskNumber;
    string encoderConfigId = "encoderConfig" + taskNumber;
    string encoderConfigFileRowId = "encoderConfigFileRow" + taskNumber;
    string encoderConfigFileId = "encoderConfigFile" + taskNumber;
    string indexerConfigRowId = "indexerConfigRow" + taskNumber;
    string spokenLanguagesId = "spokenLanguages" + taskNumber;
    string captionFormatWebVttId = "captionFormatWebVtt" + taskNumber;
    string captionFormatTtmlId = "captionFormatTtml" + taskNumber;
    string motionConfigRowId = "motionConfigRow" + taskNumber;
    string motionSensitivityLevelId = "motionSensitivityLevel" + taskNumber;
    string motionDetectLightChangeId = "motionDetectLightChange" + taskNumber;
    string hyperlapseConfigRowId = "hyperlapseConfigRow" + taskNumber;
    string hyperlapseStartFrameId = "hyperlapseStartFrame" + taskNumber;
    string hyperlapseFrameCountId = "hyperlapseFrameCount" + taskNumber;
    string hyperlapseSpeedId = "hyperlapseSpeed" + taskNumber;
    string summaryConfigRowId = "summaryConfigRow" + taskNumber;
    string durationSecondsLabelId = "durationSecondsLabel" + taskNumber;
    string durationSecondsId = "durationSeconds" + taskNumber;
    string outputAssetNameId = "outputAssetName" + taskNumber;
    string taskOptionsId = "taskOptions" + taskNumber;
}

<tr id="@taskId" class="mediaWorkflowTask">
    <td class="inputLabel">
        Job Task #@taskNumber:
    </td>
    <td>
        <table class="inputGroup workflowTask">
            <tr>
                <td class="inputLabel">
                    Media Processor:
                </td>
                <td>
                    @Html.DropDownList(mediaProcessorId, null, new { @class = "mediaProcessor", onchange = "SetProcessorConfig(this, 1)" })
                    &nbsp;
                    <span class="inputLabel">
                        Input Asset: Task #
                    </span>
                    <select id="@taskParentId" class="jobTaskParent" disabled></select>
                    <span class="inputLabel">
                        Output
                    </span>
                </td>
            </tr>
            <tr id="@encoderConfigRowId" style="display: none">
                <td class="inputLabel">
                    <span class="siteLink" onclick="window.open('http://msdn.microsoft.com/en-us/library/azure/mt269960.aspx')">
                        Encoder Config:
                    </span>
                </td>
                <td>
                    @Html.DropDownList(encoderConfigId, null, new { @class = "mediaProcessorConfig", onchange = "SetEncoderConfigFile(this)" })
                </td>
            </tr>
            <tr id="@encoderConfigFileRowId" style="display: none">
                <td class="inputLabel">
                    Custom Config:
                </td>
                <td>
                    @Html.TextBox(encoderConfigFileId, null, new { @class = "mediaProcessorConfig", type = "file" })
                </td>
            </tr>
            <tr id="@indexerConfigRowId" style="display: none">
                <td class="inputLabel">
                    Audio Indexer:
                </td>
                <td>
                    <select id="@spokenLanguagesId" multiple="multiple"></select>
                    &nbsp;
                    <span class="inputLabel">
                        Captions:
                    </span>
                    &nbsp;
                    @Html.CheckBox(captionFormatWebVttId, true, new { disabled = "disabled" } )
                    <span class="inputLabel">
                        VTT
                    </span>
                    &nbsp;
                    @Html.CheckBox(captionFormatTtmlId, false)
                    <span class="inputLabel">
                        TTML
                    </span>
                </td>
            </tr>
            <tr id="@motionConfigRowId" style="display: none">
                <td class="inputLabel">
                    Motion:
                </td>
                <td>
                    <span class="inputLabel">
                        Sensitivity Level
                    </span>
                    <select id="@motionSensitivityLevelId" class="motionSensitivityLevel">
                        <option value="low">Low</option>
                        <option value="medium">Medium</option>
                        <option value="high">High</option>
                    </select>
                    @Html.CheckBox(motionDetectLightChangeId, false, new { @class = "motionDetectLightChange" })
                    <span class="inputLabel">
                        Detect Light Change
                    </span>
                </td>
            </tr>
            <tr id="@hyperlapseConfigRowId" style="display: none">
                <td class="inputLabel">
                    Hyperlapse:
                </td>
                <td>
                    <table class="hyperlapseConfig">
                        <tr>
                            <td class="inputLabel">
                                Start Frame
                            </td>
                            <td>
                                <input id="@hyperlapseStartFrameId" value="0" class="spinner d4" />
                            </td>
                            <td class="inputLabel">
                                Frames
                            </td>
                            <td>
                                <input id="@hyperlapseFrameCountId" value="10000" class="spinner d5" />
                            </td>
                            <td class="inputLabel">
                                Speed
                            </td>
                            <td>
                                <input id="@hyperlapseSpeedId" value="3" class="spinner d1" />
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr id="@summaryConfigRowId" style="display: none">
                <td class="inputLabel">
                    Summarization:
                </td>
                <td>
                    <span class="inputLabel">
                        Output Video Duration
                        <span id="@durationSecondsLabelId" class="sliderLabel">0:15</span>
                    </span>
                    <div id="@durationSecondsId" class="slider durationSeconds"></div>
                </td>
            </tr>
            <tr>
                <td class="inputLabel">
                    Output Asset:
                </td>
                <td>
                    @Html.TextBox(outputAssetNameId, null, new { @class = "outputAssetName", placeholder = "[Output Asset Name]" })
                    &nbsp;
                    <select id="@taskOptionsId" multiple="multiple">
                        <option value="1">Encrypt Task Configuration</option>
                        <option value="2">Do Not Delete Output On Failure</option>
                        <option value="4">Do Not Cancel Job On Failure</option>
                    </select>
                </td>
            </tr>
       </table>
    </td>
</tr>
