@{
    string uploadView = Model;
}

<table id="mediaWorkflow" class="mediaWorkflow">
    <tr id="mediaAssetsRow" style="display:none">
        <td class="inputLabel">
            <span class="inputLabelMultiLine">
                Media<br>Assets
            </span>
        </td>
        <td>
            <div id="mediaAssets" class="mediaAssets workflowView"></div>
        </td>
    </tr>
    <tr class="mediaWorkflowJob">
        <td class="inputLabel">
            Job Name
        </td>
        <td>
            @Html.DropDownList("jobName", null, new { @class = "jobName" })
            &nbsp;
            <span class="siteLink" onclick="window.open('http://docs.microsoft.com/azure/media-services/media-services-scale-media-processing-overview')">
                Job Node Type
            </span>
            <select id="jobNode" class="jobNode">
                <option value="0">S1</option>
                <option value="1">S2</option>
                <option value="2" selected>S3</option>
            </select>
            &nbsp;
            <span class="siteLink" onclick="window.open('http://docs.microsoft.com/rest/api/media/operations/job')">
                Job Priority
            </span>
            <span id="jobPriorityLabel" class="sliderLabel">0</span>
            <div id="jobPriority" class="slider jobPriority"></div>
        </td>
    </tr>
    @Html.Partial("MediaWorkflowTask")
    <tr class="mediaWorkflowControls">
        <td />
        <td>
            <table>
                <tr>
                    <td>
                        @Html.Partial("SiteButton", new string[] { "mediaWorkflowSave", "MediaWorkflowSave.png", "ValidWorkflow(" + uploadView + ", true)" })
                    </td>
                    <td class="mediaWorkflowTaskButtons">
                        @Html.Partial("SiteButton", new string[] { "mediaWorkflowTaskAdd", "MediaWorkflowTaskAdd.png", "AddJobTask(this)" })
                        @Html.Partial("SiteButton", new string[] { "mediaWorkflowTaskRemove", "MediaWorkflowTaskRemove.png", "RemoveJobTask(this)" })
                    </td>
                    <td class="mediaWorkflowStart">
                        @Html.Partial("SiteButton", new string[] { "mediaWorkflowStart", "MediaWorkflowStart.png", "ValidWorkflow(" + uploadView + ", false)" })
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>