@{
    int taskNumber = 1;
    string taskRowId = string.Concat("mediaWorkflowTaskRow", taskNumber);
    string taskParentId = string.Concat("taskParent", taskNumber);
    string mediaProcessorId = string.Concat("mediaProcessor", taskNumber);
    string encoderConfigRowId = string.Concat("encoderConfigRow", taskNumber);
    string encoderConfigDocId = string.Concat("encoderConfigDoc", taskNumber);
    string encoderConfigId = string.Concat("encoderConfig", taskNumber);
    string encoderConfigFileRowId = string.Concat("encoderConfigFileRow", taskNumber);
    string encoderConfigFileDocId = string.Concat("encoderConfigFileDoc", taskNumber);
    string encoderConfigFileId = string.Concat("encoderConfigFile", taskNumber);
    string encoderOptionsRowId = string.Concat("encoderOptionsRow", taskNumber);
    string encoderFragmentOutputId = string.Concat("encoderFragmentOutput", taskNumber);
    string contentProtectionIdPrefix = "encoderContentProtection";
    string contentProtectionId = string.Concat(contentProtectionIdPrefix, taskNumber);
    string contentProtectionRowId = string.Concat(contentProtectionIdPrefix, "Row" + taskNumber);
    string contentProtectionAesId = string.Concat(contentProtectionIdPrefix, "Aes" + taskNumber);
    string contentProtectionDrmPlayReadyId = string.Concat(contentProtectionIdPrefix, "DrmPlayReady" + taskNumber);
    string contentProtectionDrmWidevineId = string.Concat(contentProtectionIdPrefix, "DrmWidevine" + taskNumber);
    string contentProtectionDrmFairPlayId = string.Concat(contentProtectionIdPrefix, "DrmFairPlay" + taskNumber);
    string contentProtectionAuthTypeTokenId = string.Concat(contentProtectionIdPrefix, "AuthTypeToken" + taskNumber);
    string contentProtectionAuthTypeAddressId = string.Concat(contentProtectionIdPrefix, "AuthTypeAddress" + taskNumber);
    string contentProtectionAuthAddressRangeId = string.Concat(contentProtectionIdPrefix, "AuthAddressRange" + taskNumber);
    string indexerConfigRowId = string.Concat("indexerConfigRow", taskNumber);
    string indexerTranscriptLanguageId = string.Concat("indexerTranscriptLanguage", taskNumber);
    string indexerPrivacyPublicId = string.Concat("indexerPrivacyPublic", taskNumber);
    string indexerSearchPartitionId = string.Concat("indexerSearchPartition", taskNumber);
    string summarizationConfigRowId = string.Concat("summarizationConfigRow", taskNumber);
    string summarizationDurationMinutesId = string.Concat("summarizationDurationMinutes", taskNumber);
    string summarizationDurationSecondsId = string.Concat("summarizationDurationSeconds", taskNumber);
    string speechToTextConfigRowId = string.Concat("speechToTextConfigRow", taskNumber);
    string speechToTextLanguageId = string.Concat("speechToTextLanguage", taskNumber);
    string speechToTextCaptionWebVttId = string.Concat("speechToTextCaptionWebVtt", taskNumber);
    string speechToTextCaptionTtmlId = string.Concat("speechToTextCaptionTtml", taskNumber);
    string faceDetectionConfigRowId = string.Concat("faceDetectionConfigRow", taskNumber);
    string faceDetectionModeId = string.Concat("faceDetectionMode", taskNumber);
    string faceRedactionConfigRowId = string.Concat("faceRedactionConfigRow", taskNumber);
    string faceRedactionModeId = string.Concat("faceRedactionMode", taskNumber);
    string motionDetectionConfigRowId = string.Concat("motionDetectionConfigRow", taskNumber);
    string motionDetectionSensitivityLevelId = string.Concat("motionDetectionSensitivityLevel", taskNumber);
    string motionDetectionLightChangeId = string.Concat("motionDetectionLightChange", taskNumber);
    string motionHyperlapseConfigRowId = string.Concat("motionHyperlapseConfigRow", taskNumber);
    string motionHyperlapseStartFrameId = string.Concat("motionHyperlapseStartFrame", taskNumber);
    string motionHyperlapseFrameCountId = string.Concat("motionHyperlapseFrameCount", taskNumber);
    string motionHyperlapseSpeedId = string.Concat("motionHyperlapseSpeed", taskNumber);
    string outputAssetNameId = string.Concat("outputAssetName", taskNumber);
    string taskOptionsId = string.Concat("taskOptions", taskNumber);
}

<tr id="@taskRowId" class="mediaWorkflowTaskRow">
    <td class="inputLabel">
        Job Task #@taskNumber
    </td>
    <td>
        <table class="jobTask">
            <tr>
                <td class="inputLabel">
                    Media Processor
                </td>
                <td>
                    @Html.DropDownList(mediaProcessorId, null, new { @class = "mediaProcessor", onchange = "SetProcessorConfig(this, 1)" })
                    &nbsp;
                    <span class="siteLink" onclick="window.open('http://docs.microsoft.com/en-us/azure/media-services/media-services-rest-encode-asset#create-a-job-with-chained-tasks')">
                        Use output from Job Task #
                    </span>
                    <select id="@taskParentId" class="jobTaskParent" disabled>
                        <option value=""></option>
                    </select>
                </td>
            </tr>
            <tr id="@encoderConfigRowId" style="display: none">
                <td class="inputLabel">
                    <span id="@encoderConfigDocId" class="siteLink">
                        Encoder Config
                    </span>
                </td>
                <td>
                    @Html.DropDownList(encoderConfigId, null, new { @class = "mediaProcessorConfig", onchange = "SetEncoderConfigOptions(this)" })
                </td>
            </tr>
            <tr id="@encoderConfigFileRowId" style="display: none">
                <td class="inputLabel">
                    <span id="@encoderConfigFileDocId" class="siteLink">
                        Custom Config
                    </span>
                </td>
                <td>
                    @Html.TextBox(encoderConfigFileId, null, new { @class = "mediaProcessorConfig", type = "file", onchange = "SetEncoderConfig(this)" })
                </td>
            </tr>
            <tr id="@indexerConfigRowId" style="display: none">
                <td class="inputLabel">
                    <span class="siteLink" onclick="window.open('https://docs.microsoft.com/en-us/azure/cognitive-services/video-indexer/video-indexer-overview')">
                        Video Indexer
                    </span>
                </td>
                <td>
                    <table class="processorConfig">
                        <tr>
                            <td>
                                @Html.DropDownList(indexerTranscriptLanguageId, ViewData["indexerLanguages"] as SelectListItem[], new { @class = "spokenLanguage" })
                            </td>
                            <td>
                                &nbsp;
                                @Html.CheckBox(indexerPrivacyPublicId)
                            </td>
                            <td class="inputLabel">
                                Public Video
                            </td>
                            <td class="inputLabel">
                                &nbsp;
                                @Html.TextBox(indexerSearchPartitionId, null, new { @class = "indexerSearchPartition", placeholder = "[Search Partition]" })
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr id="@summarizationConfigRowId" style="display: none">
                <td class="inputLabel">
                    <span class="siteLink" onclick="window.open('http://docs.microsoft.com/en-us/azure/media-services/media-services-video-summarization')">
                        Summarization
                    </span>
                </td>
                <td>
                    <table class="processorConfig">
                        <tr>
                            <td class="inputLabel">
                                Output Duration
                            </td>
                            <td class="inputLabel">
                                &nbsp;
                                <input id="@summarizationDurationMinutesId" value="1" class="spinner d2" />
                            </td>
                            <td class="inputLabel">
                                &nbsp;
                                Minutes
                            </td>
                            <td class="inputLabel">
                                &nbsp;
                                <input id="@summarizationDurationSecondsId" value="0" class="spinner d2" />
                            </td>
                            <td class="inputLabel">
                                &nbsp;
                                Seconds
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr id="@speechToTextConfigRowId" style="display: none">
                <td class="inputLabel">
                    <span class="siteLink" onclick="window.open('http://docs.microsoft.com/en-us/azure/media-services/media-services-process-content-with-indexer2')">
                        Speech To Text
                    </span>
                </td>
                <td>
                    <table class="processorConfig">
                        <tr>
                            <td class="inputLabel">
                                @Html.DropDownList(speechToTextLanguageId, ViewData["speechToTextLanguages"] as SelectListItem[], new { @class = "spokenLanguage" })
                            </td>
                            <td class="inputLabel">
                                &nbsp;
                                Caption
                            </td>
                            <td class="inputLabel">
                                &nbsp;
                                @Html.CheckBox(speechToTextCaptionWebVttId, true, new { disabled = "disabled" })
                                WebVTT
                            </td>
                            <td class="inputLabel">
                                &nbsp;
                                @Html.CheckBox(speechToTextCaptionTtmlId, false)
                                TTML
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr id="@faceDetectionConfigRowId" style="display: none">
                <td class="inputLabel">
                    <span class="siteLink" onclick="window.open('http://docs.microsoft.com/en-us/azure/media-services/media-services-face-and-emotion-detection')">
                        Face Detection
                    </span>
                </td>
                <td>
                    <table class="processorConfig">
                        <tr>
                            <td>
                                @Html.RadioButton(faceDetectionModeId, "faces", true)
                            </td>
                            <td class="inputLabel">
                                Faces Only
                            </td>
                            <td>
                                &nbsp;
                                @Html.RadioButton(faceDetectionModeId, "aggregateEmotion", false)
                            </td>
                            <td class="inputLabel">
                                Aggregate Emotion
                            </td>
                            <td>
                                &nbsp;
                                @Html.RadioButton(faceDetectionModeId, "perFaceEmotion", false)
                            </td>
                            <td class="inputLabel">
                                Per Face Emotion
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr id="@faceRedactionConfigRowId" style="display: none">
                <td class="inputLabel">
                    <span class="siteLink" onclick="window.open('http://docs.microsoft.com/en-us/azure/media-services/media-services-face-redaction')">
                        Face Redaction
                    </span>
                </td>
                <td>
                    <table class="processorConfig">
                        <tr>
                            <td>
                                @Html.RadioButton(faceRedactionModeId, "analyze", true)
                            </td>
                            <td class="inputLabel">
                                Analyze Only
                            </td>
                            <td>
                                &nbsp;
                                @Html.RadioButton(faceRedactionModeId, "redact", false)
                            </td>
                            <td class="inputLabel">
                                Apply Redaction
                            </td>
                            <td>
                                &nbsp;
                                @Html.RadioButton(faceRedactionModeId, "combined", false)
                            </td>
                            <td class="inputLabel">
                                Combined Mode
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr id="@motionDetectionConfigRowId" style="display: none">
                <td class="inputLabel">
                    <span class="siteLink" onclick="window.open('http://docs.microsoft.com/en-us/azure/media-services/media-services-motion-detection')">
                        Motion Detection
                    </span>
                </td>
                <td>
                    <table class="processorConfig">
                        <tr>
                            <td class="inputLabel">
                                Sensitivity
                            </td>
                            <td>
                                &nbsp;
                                <select id="@motionDetectionSensitivityLevelId" class="motionSensitivityLevel">
                                    <option value="low">Low</option>
                                    <option value="medium">Medium</option>
                                    <option value="high">High</option>
                                </select>
                            </td>
                            <td>
                                &nbsp;
                                @Html.CheckBox(motionDetectionLightChangeId, false)
                            </td>
                            <td class="inputLabel">
                                Detect Light Change
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr id="@motionHyperlapseConfigRowId" style="display: none">
                <td class="inputLabel">
                    <span class="siteLink" onclick="window.open('http://docs.microsoft.com/en-us/azure/media-services/media-services-hyperlapse-content')">
                        Motion Hyperlapse
                    </span>
                </td>
                <td>
                    <table class="processorConfig">
                        <tr>
                            <td class="inputLabel">
                                Frames
                            </td>
                            <td class="inputLabel">
                                &nbsp;
                                <input id="@motionHyperlapseStartFrameId" value="0" class="spinner d7" />
                            </td>
                            <td class="inputLabel">
                                &nbsp;
                                -
                                &nbsp;
                            </td>
                            <td class="inputLabel">
                                <input id="@motionHyperlapseFrameCountId" value="10000" class="spinner d7" />
                            </td>
                            <td class="inputLabel">
                                &nbsp;
                                Speed
                            </td>
                            <td class="inputLabel">
                                &nbsp;
                                <input id="@motionHyperlapseSpeedId" value="2" class="spinner d2" />
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="inputLabel">
                    Output Asset Name
                </td>
                <td>
                    @Html.TextBox(outputAssetNameId, null, new { @class = "outputAssetName" })
                    &nbsp;
                    <select id="@taskOptionsId" multiple="multiple">
                        <option value="1">Encrypt Task Configuration</option>
                        <option value="2">Do Not Delete Output On Failure</option>
                        <option value="4">Do Not Cancel Job On Failure</option>
                    </select>
                </td>
            </tr>
            <tr id="@encoderOptionsRowId" style="display: none">
                <td />
                <td>
                    @Html.CheckBox(encoderFragmentOutputId, false)
                    <span class="siteLink" onclick="window.open('http://docs.microsoft.com/en-us/dotnet/api/microsoft.windowsazure.mediaservices.client.assetformatoption')">
                        Output Pre-Fragmented
                    </span>
                    &nbsp;
                    @Html.CheckBox(contentProtectionId, false, new { onclick = "ShowContentProtection(this)" })
                    <span class="siteLink" onclick="window.open('http://docs.microsoft.com/en-us/azure/media-services/media-services-content-protection-overview')">
                        Content Protection
                    </span>
                </td>
            </tr>
            <tr id="@contentProtectionRowId" class="contentProtectionRow" style="display: none">
                <td colspan="2">
                    <table>
                        <tr>
                            <td class="contentProtectionLabel">
                                <span class="siteLink" onclick="window.open('http://docs.microsoft.com/en-us/azure/media-services/media-services-content-protection-overview')">
                                    Content<br />Protection
                                </span>
                            </td>
                            <td>
                                <table class="contentProtectionOptions">
                                    <tr>
                                        <td class="inputLabel">
                                            Encryption
                                        </td>
                                        <td>
                                            @Html.CheckBox(contentProtectionAesId, false, new { onchange = "SetContentProtection(this)" })
                                            <span class="siteLink" onclick="window.open('http://docs.microsoft.com/en-us/azure/media-services/media-services-protect-with-aes128')">
                                                AES
                                            </span>
                                            <span class="contentProtectionOptionsEncryption">
                                                or
                                            </span>
                                            <span class="contentProtectionOptionsEncryptionDrm">
                                                @Html.CheckBox(contentProtectionDrmPlayReadyId, false, new { onchange = "SetContentProtection(this)" })
                                                <span class="siteLink" onclick="window.open('http://docs.microsoft.com/en-us/azure/media-services/media-services-protect-with-drm')">
                                                    PlayReady
                                                </span>
                                                @Html.CheckBox(contentProtectionDrmWidevineId, false, new { onchange = "SetContentProtection(this)", @class = "contentProtectionOptionsEncryptionDrmOption" })
                                                <span class="siteLink" onclick="window.open('http://docs.microsoft.com/en-us/azure/media-services/media-services-protect-with-drm')">
                                                    Widevine
                                                </span>
                                                @Html.CheckBox(contentProtectionDrmFairPlayId, false, new { onchange = "SetContentProtection(this)", @class = "contentProtectionOptionsEncryptionDrmOption", disabled = "disabled" })
                                                <span class="siteLink" onclick="window.open('http://docs.microsoft.com/en-us/azure/media-services/media-services-protect-hls-with-fairplay')">
                                                    FairPlay
                                                </span>
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="inputLabel">
                                            <span class="siteLink" onclick="window.open('http://docs.microsoft.com/en-us/azure/media-services/media-services-dotnet-configure-content-key-auth-policy')">
                                                Authorization
                                            </span>
                                        </td>
                                        <td>
                                            @Html.CheckBox(contentProtectionAuthTypeTokenId, true)
                                            <span class="inputLabel">
                                                Web Token
                                            </span>
                                            &nbsp;
                                            @Html.CheckBox(contentProtectionAuthTypeAddressId, false, new { onchange = "SetContentAuthAddressRange(this)" })
                                            <span class="inputLabel">
                                                Address Range
                                            </span>
                                            @Html.TextBox(contentProtectionAuthAddressRangeId, null, new { @class = "contentAuthAddressRange", placeholder = "Start IPv4, End IPv4", disabled = "disabled" })
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>
