@using AzureSkyMedia.PlatformServices;

@{
    MediaStream[] mediaStreams = Model;
    string mediaLiveImage = this.Context.Request.Query["live"] == "on" ? "MediaLiveOn.png" : "MediaLiveOff.png";
}

<table class="mediaControls">
    <tr>
        <td id="userButtonLeft1">
        @if (ViewData.ContainsKey("accountContext"))
        {
            @Html.Partial("SiteButton", new string[] { "mediaFileUpload", "MediaUpload.png", "window.location.href = '/upload'", "layoutButton" })
        }
        </td>
        <td id="userButtonLeft2">
        @if (ViewData.ContainsKey("accountContext"))
        {
            @Html.Partial("SiteButton", new string[] { "mediaAssetWorkflow", "MediaWorkflow.png", "window.location.href = '/workflow'", "layoutButton" })
        }
        </td>
        <td>
            <table>
                <tr>
                    <td>
                        @Html.Partial("SiteButton", new string[] { "mediaStreamLeft", "MediaStreamLeft.png", "SlideStreamNumber('left')" })
                    </td>
                    <td class="streamNumber sideLeft">
                        <span>@(mediaStreams.Length == 0 ? 0 : 1)</span>
                    </td>
                    <td>
                        <div id="streamSlider" class="streamSlider"></div>
                    </td>
                    <td class="streamNumber sideRight">
                        @mediaStreams.Length
                    </td>
                    <td>
                        @Html.Partial("SiteButton", new string[] { "mediaStreamRight", "MediaStreamRight.png", "SlideStreamNumber('right')" })
                    </td>
                </tr>
            </table>
        </td>
        <td id="userButtonRight1">
        @if (ViewData.ContainsKey("accountContext"))
        {
            @Html.Partial("SiteButton", new string[] { "mediaLive", mediaLiveImage, "ToggleLiveStream(this)", "layoutButton" })
        }
        </td>
        <td id="userButtonRight2">
        @if (ViewData.ContainsKey("accountContext"))
        {
            @Html.Partial("SiteButton", new string[] { "mediaLibrary", "MediaLibrary.png", "window.location.href = '/asset'", "layoutButton" })
        }
        </td>
    </tr>
</table>
