@{
    int[] model = Model;
    int streamOffset = model[0];
    int streamCount = model[1];

    int tunerPageStart = streamCount == 0 ? 0 : streamOffset + 1;
    int tunerPageEnd = streamOffset + streamCount;
}

<table class="mediaControls">
    <tr>
        @if (ViewData.ContainsKey("accountName"))
        {
            <td id="userButtonLeft1">
                @Html.Partial("SiteButton", new string[] { "mediaUpload", "MediaUpload.png", "window.location.href = '/upload'" })
            </td>
            <td id="userButtonLeft2">
                @Html.Partial("SiteButton", new string[] { "mediaTransform", "MediaTransform.png", "window.location.href = '/transform'" })
            </td>
            <td id="userButtonLeft3">
                @Html.Partial("SiteButton", new string[] { "mediaJob", "MediaWorkflow.png", "window.location.href = '/job'" })
            </td>
        }
        <td class="streamTuner">
            <table>
                <tr>
                    <td>
                        @Html.Partial("SiteButton", new string[] { "mediaStreamLeft", "MediaStreamLeft.png", "SetStreamTuner(false)" })
                    </td>
                    <td class="streamNumber sideLeft">
                        @tunerPageStart
                    </td>
                    <td>
                        <div id="streamSlider" class="streamSlider"></div>
                    </td>
                    <td class="streamNumber sideRight">
                        @tunerPageEnd
                    </td>
                    <td>
                        @Html.Partial("SiteButton", new string[] { "mediaStreamRight", "MediaStreamRight.png", "SetStreamTuner(true)" })
                    </td>
                </tr>
            </table>
        </td>
        @if (ViewData.ContainsKey("accountName"))
        {
            <td id="userButtonRight1">
                @Html.Partial("SiteButton", new string[] { "mediaSearch", "MediaSearch.png", "window.location.href = '/search'" })
            </td>
            <td id="userButtonRight2">
                @Html.Partial("SiteButton", new string[] { "mediaLive", "MediaLive.png", "window.location.href = '/live'" })
            </td>
            <td id="userButtonRight3">
                @Html.Partial("SiteButton", new string[] { "mediaEditor", "MediaEditor.png", "window.location.href = '/asset/edit'" })
            </td>
        }
    </tr>
</table>