@{
    int taskNumber = 1;
    string taskRowId = "mediaWorkflowTaskRow" + taskNumber;
    string mediaProcessorId = "mediaProcessor" + taskNumber;
    string taskParentId = "taskParent" + taskNumber;
    string encoderConfigRowId = "encoderConfigRow" + taskNumber;
    string encoderConfigId = "encoderConfig" + taskNumber;
    string encoderConfigFileRowId = "encoderConfigFileRow" + taskNumber;
    string encoderConfigFileId = "encoderConfigFile" + taskNumber;
    string encoderOptionsRowId = "encoderOptionsRow" + taskNumber;
    string encoderProtectContentId = "encoderProtectContent" + taskNumber;
    string encoderFragmentOutputId = "encoderFragmentOutput" + taskNumber;
    string encoderContentProtectionRowId = "encoderContentProtectionRow" + taskNumber;
    string encoderContentProtectionStorageId = "encoderContentProtectionStorage" + taskNumber;
    string encoderContentProtectionAesId = "encoderContentProtectionAes" + taskNumber;
    string encoderContentProtectionDrmPlayReadyId = "encoderContentProtectionDrmPlayReady" + taskNumber;
    string encoderContentProtectionDrmWidevineId = "encoderContentProtectionDrmWidevine" + taskNumber;
    string encoderContentProtectionAuthTypeTokenId = "encoderContentProtectionAuthTypeToken" + taskNumber;
    string encoderContentProtectionAuthTypeAddressId = "encoderContentProtectionAuthTypeAddress" + taskNumber;
    string encoderContentProtectionAuthAddressRangeId = "encoderContentProtectionAuthAddressRange" + taskNumber;
    string indexerConfigRowId = "indexerConfigRow" + taskNumber;
    string indexerSpokenLanguagesId = "indexerSpokenLanguages" + taskNumber;
    string indexerCaptionWebVttId = "indexerCaptionWebVtt" + taskNumber;
    string indexerCaptionTtmlId = "indexerCaptionTtml" + taskNumber;
    string faceDetectionConfigRowId = "faceDetectionConfigRow" + taskNumber;
    string faceEmotionDetectId = "faceEmotionDetect" + taskNumber;
    string faceEmotionWindowMillisecondsId = "faceEmotionWindowMilliseconds" + taskNumber;
    string faceEmotionIntervalMillisecondsId = "faceEmotionIntervalMilliseconds" + taskNumber;
    string faceRedactionConfigRowId = "faceRedactionConfigRow" + taskNumber;
    string faceRedactionModeId = "faceRedactionMode" + taskNumber;
    string motionConfigRowId = "motionConfigRow" + taskNumber;
    string motionSensitivityLevelId = "motionSensitivityLevel" + taskNumber;
    string motionDetectLightChangeId = "motionDetectLightChange" + taskNumber;
    string hyperlapseConfigRowId = "hyperlapseConfigRow" + taskNumber;
    string hyperlapseStartFrameId = "hyperlapseStartFrame" + taskNumber;
    string hyperlapseFrameCountId = "hyperlapseFrameCount" + taskNumber;
    string hyperlapseSpeedId = "hyperlapseSpeed" + taskNumber;
    string summaryConfigRowId = "summaryConfigRow" + taskNumber;
    string summaryDurationSecondsLabelId = "summaryDurationSecondsLabel" + taskNumber;
    string summaryDurationSecondsId = "summaryDurationSeconds" + taskNumber;
    string outputAssetNameId = "outputAssetName" + taskNumber;
    string taskOptionsId = "taskOptions" + taskNumber;
}

<tr id="@taskRowId">
    <td class="inputLabel">
        Job Task #@taskNumber:
    </td>
    <td>
        <table class="jobTask">
            <tr>
                <td class="inputLabel">
                    Media Processor:
                </td>
                <td>
                    @Html.DropDownList(mediaProcessorId, null, new { @class = "mediaProcessor", onchange = "SetProcessorConfig(this, 1)" })
                    &nbsp;
                    <span class="inputLabel">
                        Parent Task #
                    </span>
                    <select id="@taskParentId" class="jobTaskParent" disabled>
                        <option value=""></option>
                    </select>
                    <span class="inputLabel">
                        Dependency
                    </span>
                </td>
            </tr>
            <tr id="@encoderConfigRowId" style="display: none">
                <td class="inputLabel">
                    <span class="siteLink" onclick="window.open('http://docs.microsoft.com/en-us/azure/media-services/media-services-mes-presets-overview')">
                        Encoder Config:
                    </span>
                </td>
                <td>
                    @Html.DropDownList(encoderConfigId, null, new { @class = "mediaProcessorConfig", onchange = "SetEncoderConfigFile(this)" })
                </td>
            </tr>
            <tr id="@encoderConfigFileRowId" style="display: none">
                <td class="inputLabel">
                    <span class="siteLink" onclick="window.open('http://docs.microsoft.com/en-us/azure/media-services/media-services-mes-schema')">
                        Custom Config:
                    </span>
                </td>
                <td>
                    @Html.TextBox(encoderConfigFileId, null, new { @class = "mediaProcessorConfig", type = "file" })
                </td>
            </tr>
            <tr id="@indexerConfigRowId" style="display: none">
                <td class="inputLabel">
                    <span class="siteLink" onclick="window.open('http://docs.microsoft.com/en-us/azure/media-services/media-services-process-content-with-indexer2')">
                        Audio Indexer:
                    </span>
                </td>
                <td>
                    <select id="@indexerSpokenLanguagesId" multiple="multiple"></select>
                    &nbsp;
                    <span class="inputLabel">
                        Captions:
                    </span>
                    &nbsp;
                    @Html.CheckBox(indexerCaptionWebVttId, true, new { disabled = "disabled" } )
                    <span class="inputLabel">
                        VTT
                    </span>
                    &nbsp;
                    @Html.CheckBox(indexerCaptionTtmlId, false)
                    <span class="inputLabel">
                        TTML
                    </span>
                </td>
            </tr>
            <tr id="@faceDetectionConfigRowId" style="display: none">
                <td class="inputLabel">
                    <span class="siteLink" onclick="window.open('http://docs.microsoft.com/en-us/azure/media-services/media-services-face-and-emotion-detection')">
                        Face Detection:
                    </span>
                </td>
                <td>
                    <table class="workflowTaskConfig1">
                        <tr>
                            <td>
                                @Html.CheckBox(faceEmotionDetectId, false)
                            </td>
                            <td class="inputLabel">
                                Emotion
                            </td>
                            <td class="inputLabel">
                                <span class="workflowTaskConfig1Option">
                                    Window (ms)
                                </span>
                            </td>
                            <td>
                                <input id="@faceEmotionWindowMillisecondsId" value="500" class="spinner d4" />
                            </td>
                            <td class="inputLabel">
                                <span class="workflowTaskConfig1Option">
                                    Interval (ms)
                                </span>
                            </td>
                            <td>
                                <input id="@faceEmotionIntervalMillisecondsId" value="500" class="spinner d4" />
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr id="@faceRedactionConfigRowId" style="display: none">
                <td class="inputLabel">
                    <span class="siteLink" onclick="window.open('http://docs.microsoft.com/en-us/azure/media-services/media-services-face-redaction')">
                        Face Redaction:
                    </span>
                </td>
                <td>
                    <span class="inputLabel">
                        Media Processor Mode
                    </span>
                    @Html.RadioButton(faceRedactionModeId, "analyze", true, new { @class = "faceRedactionMode" })
                    <span class="inputLabel">
                        Analyze
                    </span>
                    @Html.RadioButton(faceRedactionModeId, "redact", false, new { @class = "faceRedactionMode" })
                    <span class="inputLabel">
                        Redact
                    </span>
                    @Html.RadioButton(faceRedactionModeId, "combined", false, new { @class = "faceRedactionMode" })
                    <span class="inputLabel">
                        Combined
                    </span>
                </td>
            </tr>
            <tr id="@motionConfigRowId" style="display: none">
                <td class="inputLabel">
                    <span class="siteLink" onclick="window.open('http://docs.microsoft.com/en-us/azure/media-services/media-services-motion-detection')">
                        Motion Detection:
                    </span>
                </td>
                <td>
                    <span class="inputLabel">
                        Sensitivity Level
                    </span>
                    <select id="@motionSensitivityLevelId" class="motionSensitivityLevel">
                        <option value="low">Low</option>
                        <option value="medium">Medium</option>
                        <option value="high">High</option>
                    </select>
                    @Html.CheckBox(motionDetectLightChangeId, false, new { @class = "motionDetectLightChange" })
                    <span class="inputLabel">
                        Detect Light Change
                    </span>
                </td>
            </tr>
            <tr id="@hyperlapseConfigRowId" style="display: none">
                <td class="inputLabel">
                    <span class="siteLink" onclick="window.open('http://docs.microsoft.com/en-us/azure/media-services/media-services-hyperlapse-content')">
                        Hyperlapse:
                    </span>
                </td>
                <td>
                    <table class="workflowTaskConfig2">
                        <tr>
                            <td class="inputLabel">
                                Start Frame
                            </td>
                            <td>
                                <input id="@hyperlapseStartFrameId" value="0" class="spinner d4" />
                            </td>
                            <td class="inputLabel">
                                Frames
                            </td>
                            <td>
                                <input id="@hyperlapseFrameCountId" value="10000" class="spinner d5" />
                            </td>
                            <td class="inputLabel">
                                Speed
                            </td>
                            <td>
                                <input id="@hyperlapseSpeedId" value="3" class="spinner d1" />
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr id="@summaryConfigRowId" style="display: none">
                <td class="inputLabel">
                    <span class="siteLink" onclick="window.open('http://docs.microsoft.com/en-us/azure/media-services/media-services-video-summarization')">
                        Summarization:
                    </span>
                </td>
                <td>
                    <span class="inputLabel">
                        Output Video Duration
                        <span id="@summaryDurationSecondsLabelId" class="sliderLabel">0:15</span>
                    </span>
                    <div id="@summaryDurationSecondsId" class="slider durationSeconds"></div>
                </td>
            </tr>
            <tr>
                <td class="inputLabel">
                    Output Asset:
                </td>
                <td>
                    @Html.TextBox(outputAssetNameId, null, new { @class = "outputAssetName", placeholder = "[Output Asset Name]" })
                    &nbsp;
                    <select id="@taskOptionsId" multiple="multiple">
                        <option value="1">Encrypt Task Configuration</option>
                        <option value="2">Do Not Delete Output On Failure</option>
                        <option value="4">Do Not Cancel Job On Failure</option>
                    </select>
                </td>
            </tr>
            <tr id="@encoderOptionsRowId" style="display: none">
                <td />
                <td>
                    @Html.CheckBox(encoderProtectContentId, false, new { onclick = "ShowContentProtection(this)" })
                    <span class="siteLink" onclick="window.open('http://docs.microsoft.com/en-us/azure/media-services/media-services-content-protection-overview')">
                        Content Protection
                    </span>
                    &nbsp;
                    @Html.CheckBox(encoderFragmentOutputId, false)
                    <span class="inputLabel">
                        Content (Output) Fragmentation
                    </span>
                </td>
            </tr>
            <tr id="@encoderContentProtectionRowId" class="contentProtectionRow" style="display: none">
                <td colspan="2">
                    <table>
                        <tr>
                            <td class="contentProtectionLabel">
                                <div class="siteLink" onclick="window.open('http://docs.microsoft.com/en-us/azure/media-services/media-services-content-protection-overview')">
                                    Content<br />Protection
                                </div>
                            </td>
                            <td>
                                <table class="contentProtectionOptions">
                                    <tr id="inputProtectionRow" style="display: none">
                                        <td class="inputLabel">
                                            Storage:
                                        </td>
                                        <td>
                                            @Html.CheckBox(encoderContentProtectionStorageId, false)
                                            <span class="inputLabel">
                                                Media Asset Content Storage Encryption (AES 256)
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="inputLabel">
                                            Delivery:
                                        </td>
                                        <td>
                                            @Html.CheckBox(encoderContentProtectionAesId, false, new { onchange = "SetContentProtection(this)" })
                                            <span class="inputLabel siteLink" onclick="window.open('http://docs.microsoft.com/en-us/azure/media-services/media-services-protect-with-aes128')">
                                                AES 128
                                            </span>
                                            &nbsp;
                                            @Html.CheckBox(encoderContentProtectionDrmPlayReadyId, false, new { onchange = "SetContentProtection(this)" })
                                            <span class="inputLabel siteLink" onclick="window.open('http://docs.microsoft.com/en-us/azure/media-services/media-services-protect-with-drm')">
                                                PlayReady DRM
                                            </span>
                                            &nbsp;
                                            @Html.CheckBox(encoderContentProtectionDrmWidevineId, false, new { onchange = "SetContentProtection(this)" })
                                            <span class="inputLabel siteLink" onclick="window.open('http://docs.microsoft.com/en-us/azure/media-services/media-services-protect-with-drm')">
                                                Widevine DRM
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="inputLabel">
                                            AuthZ:
                                        </td>
                                        <td>
                                            @Html.CheckBox(encoderContentProtectionAuthTypeTokenId, true)
                                            <span class="inputLabel">
                                                Web Token
                                            </span>
                                            &nbsp;
                                            @Html.CheckBox(encoderContentProtectionAuthTypeAddressId, false, new { onchange = "SetContentAuthAddressRange(this)" })
                                            <span class="inputLabel">
                                                Address Range
                                            </span>
                                            @Html.TextBox(encoderContentProtectionAuthAddressRangeId, null, new { @class = "contentAuthAddressRange", placeholder = "Start IPv4, End IPv4", disabled = "disabled" })
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
       </table>
    </td>
</tr>
