@model AzureSkyMedia.WebApp.Models.ClientControl

<input id="@Model.ControlId" name="@Model.ControlId" type="radio" value="Low">
<span class="inputLabel">Low</span>
&nbsp;
<input id="@Model.ControlId" name="@Model.ControlId" type="radio" value="Normal" checked>
<span class="inputLabel">Normal</span>
&nbsp;
<input id="@Model.ControlId" name="@Model.ControlId" type="radio" value="High">
<span class="inputLabel">High</span>