@model AzureSkyMedia.WebApp.Models.RangeSlider

@{
    int rangeStart = Model.ItemCount == 0 ? 0 : Model.SkipCount + 1;
    int rangeEnd = Model.SkipCount + Model.ItemCount;
}

<td class="@Model.LabelClass sliderRangeStart">
    @rangeStart
</td>
<td>
    <div id="@Model.SliderId" class="@Model.SliderClass sliderRange"></div>
    <span id="@Model.LabelId" class="@Model.LabelClass sliderLabel sliderRangeBoundary">
        @rangeStart
    </span>
</td>
<td class="@Model.LabelClass sliderRangeEnd">
    @rangeEnd
    @if (!Model.LastPage)
    {
        <span>+</span>
    }
</td>