@section head {
    <link type="text/css" rel="stylesheet" href="~/lib/plupload/js/jquery.ui.plupload/css/jquery.ui.plupload.css" />
    <script type="text/javascript" src="~/lib/plupload/js/moxie.min.js"></script>
    <script type="text/javascript" src="~/lib/plupload/js/plupload.min.js"></script>
    <script type="text/javascript" src="~/lib/plupload/js/jquery.ui.plupload/jquery.ui.plupload.min.js"></script>
    <script type="text/javascript" src="@ViewData["asperaTransferApi"]/connectinstaller-4.min.js"></script>
    <script type="text/javascript" src="@ViewData["asperaTransferApi"]/asperaweb-4.min.js"></script>
    <script type="text/javascript" src="~/lib/node-uuid/uuid.js"></script>
    <script type="text/javascript" src="~/js/uploader.js"></script>
    <script type="text/javascript" src="~/js/uploader.aspera.js"></script>
    <script type="text/javascript" src="~/js/workflow.js"></script>
    <script type="text/javascript" src="~/js/workflow.job.js"></script>
    <script type="text/javascript" src="~/js/workflow.task.js"></script>
    <script type="text/javascript" src="~/js/workflow.task.configuration.js"></script>
    <script type="text/javascript" src="~/js/workflow.task.protection.js"></script>
    <script type="text/javascript">
        $(function () {
            var signiantAccountKey = "@ViewData["signiantAccountKey"]";
            var asperaAccountKey = "@ViewData["asperaAccountKey"]";
            var serviceGateway = "@ViewData["asperaServiceGateway"]";
            var storageContainer = "@ViewData["storageContainer"]";
            SetWorkflowInputs(true, signiantAccountKey, asperaAccountKey);
            InitializeUploader("@ViewData["asperaTransferApi"]");
            CreateUploader(storageContainer);
        })
    </script>
}

@section title {
    Media File Uploader<br />(Aspera FASP)
}

@Html.Partial("MediaUpload", new bool[] { false, true })

<div id="fileUploader"></div>

<div id="transferProgress" class="asperaProgress"></div>

<div id="transferProgressLabel" class="asperaProgressLabel">
    <br />
</div>

<div id="transferMessage" class="transferMessage asperaTransfer">
    <br />
</div>

@Html.Partial("MediaWorkflow", new string[] { "true", "asperaUploader" })
