@{
    int indexerEnabled = int.Parse(ViewData["indexerEnabled"].ToString());
}

@section head {
    <link type="text/css" rel="stylesheet" href="~/lib/plupload/js/jquery.ui.plupload/css/jquery.ui.plupload.css" />
    <link type="text/css" rel="stylesheet" href="~/css/upload.css" />
    <script type="text/javascript" src="~/lib/plupload/js/moxie.min.js"></script>
    <script type="text/javascript" src="~/lib/plupload/js/plupload.min.js"></script>
    <script type="text/javascript" src="~/lib/plupload/js/jquery.ui.plupload/jquery.ui.plupload.min.js"></script>
    <script type="text/javascript" src="~/js/upload.js"></script>
    <script type="text/javascript" src="~/js/transform.js"></script>
    <script type="text/javascript">
        $(function () {
            SetStorageTip();
            CreateUploader();
            if (@indexerEnabled == 0) {
                $("#videoIndexer").prop("disabled", true);
                $("#audioIndexer").prop("disabled", true);
            }
        })
    </script>
}

@section title {
    Media Upload
}

<table class="mediaUpload">
    <tr>
        <td class="inputLabel">
            Storage Account
        </td>
        <td colspan="3">
            @Html.DropDownList("storageAccount", null, new { @class = "storageAccount", onchange = "SetStorageTip()" })
        </td>
    </tr>
    <tr>
        <td class="inputLabel">
            Media Asset
        </td>
        <td>
            @Html.TextBox("assetName", null, new { @class = "assetName", placeholder = "[Asset Name]" })
        </td>
        <td>
            @Html.TextBox("assetDescription", null, new { @class = "assetDescription", placeholder = "[Asset Description]" })
        </td>
        <td>
            @Html.TextBox("assetAlternateId", null, new { @class = "assetAlternateId", placeholder = "[Asset Alternate Id]" })
        </td>
    </tr>
</table>

<div id="mediaFileUploader"></div>
<div id="mediaUploadMessage" class="mediaUploadMessage"></div>

<table class="mediaUploadOptions">
    <tr>
        <td>
            @Html.CheckBox("adaptiveStreaming", false)
        </td>
        <td>
            <span class="siteLink" onclick="window.open('http://docs.microsoft.com/azure/media-services/latest/autogen-bitrate-ladder')">
                Adaptive Streaming
            </span>
        </td>
        <td class="mediaUploadOption">
            @Html.CheckBox("videoAnalyzer", false, new { onchange = "SetIntelligenceOptions(this)" })
        </td>
        <td>
            <span class="siteLink" onclick="window.open('http://docs.microsoft.com/azure/media-services/latest/intelligence-concept#videoanalyzerpreset')">
                Video Analyzer
            </span>
        </td>
        <td class="mediaUploadOption">
            @Html.CheckBox("videoIndexer", false, new { onchange = "SetIntelligenceOptions(this)" })
        </td>
        <td>
            <span class="siteLink" onclick="window.open('http://docs.microsoft.com/azure/cognitive-services/video-indexer/video-indexer-overview')">
                Video Indexer
            </span>
        </td>
    </tr>
    <tr>
        <td>
            @Html.CheckBox("thumbnailSprite", false)
        </td>
        <td>
            <span class="siteLink" onclick="window.open('http://docs.microsoft.com/azure/media-services/latest/customize-encoder-presets-how-to')">
                Thumbnail Sprite
            </span>
        </td>
        <td class="mediaUploadOption">
            @Html.CheckBox("audioAnalyzer", false)
        </td>
        <td>
            <span class="siteLink" onclick="window.open('http://docs.microsoft.com/azure/media-services/latest/intelligence-concept#audioanalyzerpreset')">
                Audio Analyzer
            </span>
        </td>
        <td class="mediaUploadOption">
            @Html.CheckBox("audioIndexer", false)
        </td>
        <td>
            <span class="siteLink" onclick="window.open('http://docs.microsoft.com/azure/cognitive-services/video-indexer/video-indexer-overview')">
                Audio Indexer
            </span>
        </td>
    </tr>
</table>

<div id="mediaUploadEntities" class="mediaUploadEntities"></div>