@{
    string gridId = "liveEventOutputs";
}

@section head {
    <script type="text/javascript">
        $(function () {
            _childGridId = null;
            _childPropertyName = null;
            _spacingPatterns = @Json.Serialize(ViewData["spacingPatterns"]);
            _spacingInserts = @Json.Serialize(ViewData["spacingInserts"]);
            _storageCdnUrl = "@ViewData["storageCdnUrl"]";
            var gridId = "@gridId";
            var rows = @Json.Serialize(ViewData[gridId]);
            var columns = GetParentColumns(gridId);
            LoadGrid(gridId, rows, columns);
        })
    </script>
}

@section title {
    Live Event Outputs
}

<div class="grid">
    <table id="@gridId"></table>
    <div id="gridPager"></div>
</div>
