@using AzureSkyMedia.WebApp.Models;

@{
    string gridId = "liveEvents";
}

@section head {
    <script type="text/javascript" src="~/js/live.js"></script>
    <script type="text/javascript">
        $(function () {
            _childGridType = "liveEventOutputs";
            _childPropertyName = "outputs";
            var gridId = "@gridId";
            var rows = @Json.Serialize(ViewData[gridId]);
            LoadGrid(gridId, rows);
            CreateTipTop("liveEventCreate", "Create Live Event");
            CreateTipTop("liveEventUpdate", "Update Live Event");
            CreateJsonEditor("liveEventTags", "Live Event Tags", null);
        })
    </script>
}

@section title {
    Live Events
}

<div class="grid">
    <table id="@gridId"></table>
    <div id="gridPager"></div>
</div>

<table class="mediaEntity">
    <tr>
        <td>
            @Html.TextBox("name", null, new { @class = "mediaEntityName", placeholder = "[Live Event Name]" })
        </td>
        <td rowspan="3">
            <div id="liveEventTags" class="jsonData"></div>
        </td>
    </tr>
    <tr>
        <td>
            @Html.TextBox("description", null, new { @class = "mediaEntityName mediaEntityDescription", placeholder = "[Live Event Description]" })
        </td>
    </tr>
    <tr>
        <td>
            <table class="mediaEntityProperties">
                <tr>
                    <td class="inputLabel">
                        Input Protocol
                    </td>
                    <td class="inputOption">
                        <input id="inputProtocol" name="inputProtocol" type="radio" value="FragmentedMP4" checked />
                        <span class="inputLabel">Fragmented MP4</span>
                        &nbsp;
                        <input id="inputProtocol" name="inputProtocol" type="radio" value="RTMP" />
                        <span class="inputLabel">RTMP</span>
                        &nbsp;
                        <input id="inputProtocol" name="inputProtocol" type="radio" value="SRT" disabled />
                        <span class="inputLabel">SRT</span>
                    </td>
                </tr>
                <tr>
                    <td class="inputLabel">
                        Encoding Type
                    </td>
                    <td class="inputOption">
                        <input id="encodingType" name="encodingType" type="radio" value="None" checked />
                        <span class="inputLabel">None</span>
                        &nbsp;
                        <input id="encodingType" name="encodingType" type="radio" value="Basic" />
                        <span class="inputLabel">Basic</span>
                    </td>
                </tr>
                <tr>
                    <td class="inputLabel">
                        Encoding Preset
                    </td>
                    <td>
                        <input id="encodingPresetName" class="encodingPresetName" type="text" />
                    </td>
                </tr>
                <tr>
                    <td class="inputLabel">
                        Streaming Policy
                    </td>
                    <td class="inputOption">
                        @Html.DropDownList("streamingPolicies", null, new { @class = "inputSelect maxWidth" })
                    </td>
                </tr>
                <tr>
                    <td class="inputLabel">
                        Low Latency
                    </td>
                    <td class="inputOption">
                        <input id="lowLatency" type="checkbox" />
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<div class="viewButtons">
    <partial name="SiteButton" model='new SiteButton { ControlId = "liveEventCreate", ImageFile = "MediaEntityCreate.png", OnClick = "CreateLiveEvent()" }' />
    <partial name="SiteButton" model='new SiteButton { ControlId = "liveEventUpdate", ImageFile = "MediaEntitySave.png", OnClick = "UpdateLiveEvent()" }' />
</div>