@using AzureSkyMedia.WebApp.Models;
@using AzureSkyMedia.PlatformServices;

@{
    string gridId = "liveEventOutputs";
}

@section head {
    <script type="text/javascript" src="~/js/live.js"></script>
    <script type="text/javascript">
        $(function () {
            _childGridType = null;
            _childPropertyName = null;
            var gridId = "@gridId";
            var rows = @Json.Serialize(ViewData[gridId]);
            LoadGrid(gridId, rows);
            CreateTipTop("liveEventOutputCreate", "Create Live Event Output");
            SetArchiveWindow(@Constant.Media.LiveEvent.OutputArchiveWindowMinutes);
        })
    </script>
}

@section title {
    Live Event Outputs
}

<div class="grid">
    <table id="@gridId"></table>
    <div id="gridPager"></div>
</div>

<table class="mediaEntity">
    <tr>
        <td>
            @Html.TextBox("name", null, new { @class = "mediaEntityName", placeholder = "[Live Event Output Name]" })
        </td>
    </tr>
    <tr>
        <td>
            @Html.TextBox("description", null, new { @class = "mediaEntityName mediaEntityDescription", placeholder = "[Live Event Output Description]" })
        </td>
    </tr>
    <tr>
        <td>
            <table class="mediaEntityProperties">
                <tr>
                    <td class="inputLabel">
                        Live Event Name
                    </td>
                    <td>
                        @Html.DropDownList("liveEvents", null, new { @class = "inputSelect maxWidth" })
                    </td>
                </tr>
                <tr>
                    <td class="inputLabel">
                        Output Asset Name
                    </td>
                    <td>
                        <input id="outputAssetName" class="mediaEntityName" type="text" />
                    </td>
                </tr>
                <tr>
                    <td class="inputLabel">
                        DVR Window Length
                    </td>
                    <td class="inputOption">
                        <input id="archiveWindowMinutes" class="archiveWindowMinutes" />
                        &nbsp;
                        <span class="inputLabel archiveWindowMinutes">
                            Minutes (<span id="archiveWindowHours"></span>)
                        </span>
                    </td>
                <tr>
            </table>
        </td>
    </tr>
</table>

<div class="viewButtons">
    <partial name="SiteButton" model='new SiteButton { ControlId = "liveEventOutputCreate", ImageFile = "MediaEntityCreate.png", OnClick = "CreateLiveOutput()" }' />
</div>