@{
    string gridId = "transforms";
}

@section head {
    <script type="text/javascript">
        $(function () {
            _childGridId = "transformOutputs";
            _childPropertyName = "properties.outputs";
            _spacingPatterns = @Json.Serialize(ViewData["spacingPatterns"]);
            _spacingInserts = @Json.Serialize(ViewData["spacingInserts"]);
            _storageCdnUrl = "@ViewData["storageCdnUrl"]";
            var gridId = "@gridId";
            var rows = @Json.Serialize(ViewData[gridId]);
            var columns = GetParentColumns(gridId, "Transform Name");
            LoadGrid(gridId, rows, columns);
        })
    </script>
}

@section title {
    Media Transforms
}

<div class="grid">
    <table id="@gridId"></table>
    <div id="gridPager"></div>
</div>