@{
    string gridId = "transformJobs";
}

@section head {
    <script type="text/javascript">
        $(function () {
            _childGridId = "transformJobOutputs";
            _childPropertyName = "properties.outputs";
            _spacingPatterns = @Json.Serialize(ViewData["spacingPatterns"]);
            _spacingInserts = @Json.Serialize(ViewData["spacingInserts"]);
            _storageCdnUrl = "@ViewData["storageCdnUrl"]";
            var gridId = "@gridId";
            var rows = @Json.Serialize(ViewData[gridId]);
            var columns = GetParentColumns(gridId);
            LoadGrid(gridId, rows, columns);
            setInterval(function () { ReloadGrid(gridId, "/job/list", columns); }, _refreshInterval);
        })
    </script>
}

@section title {
    Media Jobs
}

<div class="grid">
    <table id="@gridId"></table>
    <div id="gridPager"></div>
</div>