@using AzureSkyMedia.WebApp.Models;

@section head {
    <script type="text/javascript" src="~/js/transform.js"></script>
    <script type="text/javascript">
        function GetTransformOutputs() {
            var transformOutputs = new Array();
            for (var i = 0; i < 3; i++) {
                var transformOutput = {
                    PresetEnabled: $("#presetEnabled" + i).prop("checked"),
                    PresetName: $("#presetName" + i).val(),
                    RelativePriority: $("#relativePriority" + i).val(),
                    OnErrorMode: $("#onErrorMode" + i).val()
                }
                transformOutputs.push(transformOutput);
            }
            return transformOutputs
        }
        function CreateTransform() {
            var title = "Confirm Transform Create / Update";
            var message = "Are you sure you want to create / update the current transform?";
            var onConfirm = function () {
                SetCursor(true);
                $.post("/transform/create",
                    {
                        name: $("#name").val(),
                        description: $("#description").val(),
                        outputs: GetTransformOutputs()
                    },
                    function (entity) {
                        SetCursor(false);
                        window.location = window.location.href;
                    }
                );
                $(this).dialog("close");
            }
            ConfirmMessage(title, message, onConfirm);
        }
        $(function () {
            var columns = GetColumns("transforms", "Transform Name");
            var rows = @Json.Serialize(ViewData["transforms"]);
            var spacingPatterns = @Json.Serialize(ViewData["spacingPatterns"]);
            var spacingInserts = @Json.Serialize(ViewData["spacingInserts"]);
            LoadGrid("transforms", columns, rows, "transformOutputs", "properties.outputs", spacingPatterns, spacingInserts, "@ViewData["storageCdnUrl"]");
            CreateTipBottom("mediaEntitySave", "Save Transform");
        })
    </script>
}

@section title {
    Media Transforms
}

<div class="grid">
    <table id="transforms"></table>
    <div id="gridPager"></div>
</div>

<div class="entity">
    <div>
        @Html.TextBox("name", null, new { @class = "entityName", placeholder = "[Transform Name]" })
        <br><br>
        @Html.TextBox("description", null, new { @class = "entityName", placeholder = "[Transform Description]" })
    </div>
    <table>
        <tr>
            <td class="inputLabel outputPresets">
                Transform<br>Output Presets
            </td>
            <td>
                <table>
                    <tr>
                        <td class="inputLabel centered">
                            Preset Name
                        </td>
                        <td class="inputLabel centered">
                            Priority<br>(Relative)
                        </td>
                        <td class="inputLabel centered">
                            On Error<br>Mode
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.CheckBox("presetEnabled0", true)
                            <select id="presetName0" class="inputSelect">
                                <option value="AdaptiveStreaming" selected>Adaptive Streaming</option>
                                <option value="H264MultipleBitrate1080p">H264 Multiple Bitrate 1080p</option>
                                <option value="H264MultipleBitrate720p">H264 Multiple Bitrate 720p</option>
                                <option value="H264MultipleBitrateSD">H264 Multiple Bitrate SD</option>
                                <option value="AACGoodQualityAudio">AAC Good Quality Audio</option>
                            </select>
                        </td>
                        <td>
                            <partial name="Priority" model='new ClientControl { ClientId = "relativePriority0" }' />
                        </td>
                        <td>
                            <partial name="OnError" model='new ClientControl { ClientId = "onErrorMode0" }' />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.CheckBox("presetEnabled1", false, new { onchange = "SetAudioAnalyzer(this)" })
                            <span class="siteLink" onclick="window.open('http://docs.microsoft.com/azure/media-services/latest/intelligence-concept#videoanalyzerpreset')">
                                Video Analyzer
                            </span>
                        </td>
                        <td>
                            <partial name="Priority" model='new ClientControl { ClientId = "relativePriority1" }' />
                        </td>
                        <td>
                            <partial name="OnError" model='new ClientControl { ClientId = "onErrorMode1" }' />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.CheckBox("presetEnabled2", false)
                            <span class="siteLink" onclick="window.open('http://docs.microsoft.com/azure/media-services/latest/intelligence-concept#audioanalyzerpreset')">
                                Audio Analyzer
                            </span>
                        </td>
                        <td>
                            <partial name="Priority" model='new ClientControl { ClientId = "relativePriority2" }' />
                        </td>
                        <td>
                            <partial name="OnError" model='new ClientControl { ClientId = "onErrorMode2" }' />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>

<div class="viewButtons">
    <partial name="SiteButton" model='new SiteButton { ClientId = "mediaEntitySave", ImageFile = "MediaEntitySave.png", OnClick = "CreateTransform()" }' />
</div>