@using AzureSkyMedia.WebApp.Models;

@{
    string gridId = "transforms";
}

@section head {
    <script type="text/javascript" src="~/js/transform.js"></script>
    <script type="text/javascript">
        $(function () {
            _childGridId = "transformOutputs";
            _childPropertyName = "properties.outputs";
            _spacingPatterns = @Json.Serialize(ViewData["spacingPatterns"]);
            _spacingInserts = @Json.Serialize(ViewData["spacingInserts"]);
            _storageCdnUrl = "@ViewData["storageCdnUrl"]";
            var gridId = "@gridId";
            var rows = @Json.Serialize(ViewData[gridId]);
            var columns = GetParentColumns(gridId);
            LoadGrid(gridId, rows, columns);
            CreateTipBottom("transformSave", "Save Transform");
        })
    </script>
}

@section title {
    Media Transforms
}

<div class="grid">
    <table id="transforms"></table>
    <div id="gridPager"></div>
</div>

<div class="entity">
    <div>
        @Html.TextBox("name", null, new { @class = "entityName", placeholder = "[Media Transform Name]" })
        <br><br>
        @Html.TextBox("description", null, new { @class = "entityName", placeholder = "[Media Transform Description]" })
    </div>
    <table>
        <tr>
            <td class="inputLabel outputPresets">
                Media Transform<br>Output Presets
            </td>
            <td>
                <table>
                    <tr>
                        <td class="inputLabel centered">
                            Transform Preset Name
                        </td>
                        <td class="inputLabel centered">
                            Relative<br>Priority
                        </td>
                        <td class="inputLabel centered">
                            On Error
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.CheckBox("presetEnabled0", true)
                            <select id="presetName0" class="inputSelect">
                                <option value="AdaptiveStreaming" selected>Adaptive Streaming</option>
                                <option value="H264MultipleBitrate1080p">H264 Multiple Bitrate 1080p</option>
                                <option value="H264MultipleBitrate720p">H264 Multiple Bitrate 720p</option>
                                <option value="H264MultipleBitrateSD">H264 Multiple Bitrate SD</option>
                                <option value="AACGoodQualityAudio">AAC Good Quality Audio</option>
                            </select>
                        </td>
                        <td>
                            <partial name="Priority" model='new ClientControl { ControlId = "relativePriority0" }' />
                        </td>
                        <td>
                            <partial name="OnError" model='new ClientControl { ControlId = "onError0" }' />
                        </td>
                    </tr>
                    <tr>
                        <td class="inputLeft">
                            @Html.CheckBox("presetEnabled1", false, new { onchange = "SetAudioAnalyzer(this)" })
                            <span class="siteLink" onclick="window.open('http://docs.microsoft.com/azure/media-services/latest/intelligence-concept#videoanalyzerpreset')">
                                Video Analyzer
                            </span>
                        </td>
                        <td>
                            <partial name="Priority" model='new ClientControl { ControlId = "relativePriority1" }' />
                        </td>
                        <td>
                            <partial name="OnError" model='new ClientControl { ControlId = "onError1" }' />
                        </td>
                    </tr>
                    <tr>
                        <td class="inputLeft">
                            @Html.CheckBox("presetEnabled2", false)
                            <span class="siteLink" onclick="window.open('http://docs.microsoft.com/azure/media-services/latest/intelligence-concept#audioanalyzerpreset')">
                                Audio Analyzer
                            </span>
                        </td>
                        <td>
                            <partial name="Priority" model='new ClientControl { ControlId = "relativePriority2" }' />
                        </td>
                        <td>
                            <partial name="OnError" model='new ClientControl { ControlId = "onError2" }' />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>

<div class="viewButtons">
    <partial name="SiteButton" model='new SiteButton { ControlId = "transformSave", ImageFile = "MediaEntitySave.png", OnClick = "CreateTransform()" }' />
</div>