@using AzureSkyMedia.WebApp.Models;

@{
    string gridId = "transformJobs";
}

@section head {
    <script type="text/javascript" src="~/js/transformJob.js"></script>
    <script type="text/javascript">
        $(function () {
            _childGridId = "transformJobOutputs";
            _childPropertyName = "properties.outputs";
            _spacingPatterns = @Json.Serialize(ViewData["spacingPatterns"]);
            _spacingInserts = @Json.Serialize(ViewData["spacingInserts"]);
            _storageCdnUrl = "@ViewData["storageCdnUrl"]";
            var gridId = "@gridId";
            var rows = @Json.Serialize(ViewData[gridId]);
            var columns = GetParentColumns(gridId);
            LoadGrid(gridId, rows, columns);
            CreateTipBottom("jobCreate", "Create Job");
            setInterval(function () { ReloadGrid(gridId, "/job/list", columns); }, _refreshInterval);
       })
    </script>
}

@section title {
    Media Jobs
}

<div class="grid">
    <table id="transformJobs"></table>
    <div id="gridPager"></div>
</div>

<div class="entity">
    <div>
        @Html.TextBox("name", null, new { @class = "entityName", placeholder = "[Media Job Name]" })
        <br><br>
        @Html.TextBox("description", null, new { @class = "entityName", placeholder = "[Media Job Description]" })
    </div>
    <table>
        <tr>
            <td class="inputLabel">
                Media Job Priority
            </td>
            <td class="inputLeft">
                <partial name="Priority" model='new ClientControl { ControlId = "jobPriority" }' />
            </td>
        </tr>
        <tr>
            <td class="inputLabel">
                Media Transform
            </td>
            <td>
                @Html.DropDownList("transforms", null, new { @class = "inputSelect transformJob" })
            </td>
        </tr>
        <tr>
            <td class="inputLabel">
                Streaming Policy
            </td>
            <td>
                @Html.DropDownList("streamingPolicies", null, new { @class = "inputSelect transformJob" })
            </td>
        </tr>
        <tr>
            <td class="inputLabel">
                Input Asset Name
            </td>
            <td>
                @Html.TextBox("inputAssetName", null, new { @class = "entityName transformJob", onfocusout = "FindAsset()" })
            </td>
        </tr>
        <tr>
            <td class="inputLabel">
                <span class="inputFileUrl">
                    Input File Url
                    <br>
                    (HTTPS)
                </span>
            </td>
            <td>
                @Html.TextBox("inputFileUrl", null, new { @class = "entityName transformJob" })
            </td>
        </tr>
    </table>
</div>

<div class="viewButtons">
    <partial name="SiteButton" model='new SiteButton { ControlId = "jobCreate", ImageFile = "MediaEntityCreate.png", OnClick = "CreateJob()" }' />
</div>