@section head {
    <script type="text/javascript">
        function CreateEntity() {
            alert("Create!");
        }
        $(function () {
            var columns = GetColumns("transformJobs", "Job Name");
            var rows = @Json.Serialize(ViewData["transformJobs"]);
            var spacingPatterns = @Json.Serialize(ViewData["spacingPatterns"]);
            var spacingInserts = @Json.Serialize(ViewData["spacingInserts"]);
            LoadGrid("transformJobs", columns, rows, "transformJobOutputs", "properties.outputs", spacingPatterns, spacingInserts, "@ViewData["storageCdnUrl"]");
            CreateTipBottom("mediaEntityCreate", "Create New Job");
        })
    </script>
}

@section title {
    Media Jobs
}

<table id="transformJobs"></table>
<div id="gridPager"></div>

<div class="viewButtons">
    @Html.Partial("SiteButton", new string[] { "mediaEntityCreate", "MediaEntityCreate.png", "CreateEntity()" })
</div>