@using AzureSkyMedia.WebApp.Models;

@{
    string gridId = "transformJobs";
}

@section head {
    <script type="text/javascript" src="~/js/transformJob.js"></script>
    <script type="text/javascript">
        $(function () {
            _childGridType = "transformJobOutputs";
            _childPropertyName = "properties.outputs";
            var gridId = "@gridId";
            var rows = @Json.Serialize(ViewData[gridId]);
            LoadGrid(gridId, rows);
            CreateTipBottom("jobCreate", "Create Job");
            CreateTipBottom("jobUpdate", "Update Job");
            CreateJsonEditor("jobData", "Media Job Data", null);
       })
    </script>
}

@section title {
    Media Transform Jobs
}

<div class="grid">
    <table id="transformJobs"></table>
    <div id="gridPager"></div>
</div>

<table class="mediaEntity">
    <tr>
        <td>
            @Html.TextBox("name", null, new { @class = "mediaEntityName", placeholder = "[Media Job Name]" })
        </td>
        <td rowspan="3">
            <div id="jobData" class="jsonData"></div>
        </td>
    </tr>
    <tr>
        <td>
            @Html.TextBox("description", null, new { @class = "mediaEntityName mediaEntityDescription", placeholder = "[Media Job Description]" })
        </td>
    </tr>
    <tr>
        <td>
            <table class="mediaEntityProperties mediaJob">
                <tr>
                    <td class="inputLabel">
                        Media Job Priority
                    </td>
                    <td>
                        <partial name="Priority" model='new ClientControl { ControlId = "jobPriority" }' />
                    </td>
                </tr>
                <tr>
                    <td class="inputLabel">
                        Media Transform
                    </td>
                    <td>
                        @Html.DropDownList("transforms", null, new { @class = "inputSelect mediaJob" })
                    </td>
                </tr>
                <tr>
                    <td class="inputLabel">
                        Streaming Policy
                    </td>
                    <td>
                        @Html.DropDownList("streamingPolicies", null, new { @class = "inputSelect maxWidth" })
                    </td>
                </tr>
                <tr>
                    <td class="inputLabel">
                        Input Asset Name
                    </td>
                    <td>
                        @Html.TextBox("inputAssetName", null, new { @class = "mediaEntityName mediaJob", onfocusout = "FindAsset()" })
                    </td>
                </tr>
                <tr>
                    <td class="inputLabel">
                        Input File Url
                    </td>
                    <td>
                        @Html.TextBox("inputFileUrl", null, new { @class = "mediaEntityName mediaJob", placeholder = "https://" })
                    </td>
                </tr>
                <tr>
                    <td class="inputLabel">
                        Output Assets
                    </td>
                    <td class="jobOutputAssets">
                        <table>
                            <tr>
                                <td class="inputLabel">
                                    @Html.RadioButton("outputAssetsMode", "DistinctAssets", true)
                                    Distinct Assets
                                </td>
                                <td class="inputLabel">
                                    @Html.RadioButton("outputAssetsMode", "InputAsset", false)
                                    Input Asset
                                </td>
                                <td class="inputLabel">
                                    @Html.RadioButton("outputAssetsMode", "SingleAsset", false)
                                    Single Asset
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<div class="viewButtons">
    <partial name="SiteButton" model='new SiteButton { ControlId = "jobCreate", ImageFile = "MediaEntityCreate.png", OnClick = "CreateJob()" }' />
    <partial name="SiteButton" model='new SiteButton { ControlId = "jobUpdate", ImageFile = "MediaEntitySave.png", OnClick = "UpdateJob()" }' />
</div>